<template>
<div class="type_msg">
        <div class="input_msg_write">
            <form @submit.prevent="createMessage">
                <input name="message" v-model="newMessage" type="text" placeholder="Type a message" class="write_msg">
                <button type="button" class="msg_send_btn">
                    <i aria-hidden="true" class="fa fa-paper-plane-o"></i>
                </button>
            </form>
        </div>
    </div>
</template>

<script>
    import fb from '../../firebase/init';
    export default {
        name: 'CreateMessage',
        props: [''],
        data() {
            return {
                newMessage: null,
                errorText: null
            }
        },
        methods: {
            createMessage () {
                if (this.newMessage) {
                    fb.collection('messanger').add({
                        message: this.newMessage,
                        name: 'mostafa',
                        timestamp: Date.now()
                    }).catch(err => {
                        console.log(err);
                    });
                    this.newMessage = null;
                    this.errorText = null;
                } else {
                    this.errorText = "A message must be entered first!";
                }
            }
        }
    }
</script>

<style>
    .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
    }

    .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
    .msg_send_btn {
        background: #05728f none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
    }

</style>
