<template>
    <!--header starts-->
    <div id="header">
    <header  class="header-scroll top-header headrom">
        <!-- .navbar -->
        <nav class="navbar navbar-dark">
            <div class="container">
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#mainNavbarCollapse">&#9776;</button>
                <router-link class="navbar-brand"  to="/"><img class="img-rounded" src="./assets/images/food-picky-logo.png" alt=""></router-link>

                <div class="collapse navbar-toggleable-md  float-lg-right" id="mainNavbarCollapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <router-link class="nav-link active" to="/"> <span class="sr-only">(current)</span> Home</router-link>
                        </li>

                        <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Food</a>
                            <div class="dropdown-menu">
                              <router-link class="dropdown-item" to="/food_results">Food results</router-link>
                               <router-link class="dropdown-item" to="/track_order">TracK Yor Order</router-link>
                            </div>
                        </li>
                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Restaurants</a>
                            <div class="dropdown-menu">
                                <router-link class="dropdown-item" to="/restaurants">Search results</router-link>
                                <router-link class="dropdown-item" to="/profile">Profile page</router-link>
                            </div>
                        </li>
                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                            <div class="dropdown-menu">

                                <router-link class="dropdown-item" to="/pricing">Pricing</router-link>
                                <router-link class="dropdown-item" to="/contact">Contact</router-link>>
                                <router-link class="dropdown-item" to="/submition">Submit restaurant</router-link>
                                <router-link class="dropdown-item" to="/registration">Registration</router-link><
                                <div class="dropdown-divider"></div>
                                <router-link class="dropdown-item" to="/checkout">Checkout</router-link>
                                </div>

                        </li>

                        <li class="nav-item dropdown" >
                         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profole</a>
                            <div class="dropdown-menu">

                                <router-link class="dropdown-item" to="/Profile">Pricing</router-link>
                                <router-link class="dropdown-item" to="/Logout">Logout restaurant</router-link>
                            </div>

                        </li>

                        <li class="nav-item">
                            <router-link class="nav-link active" to="/login"> SignUp / Login</router-link>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
        <!-- /.navbar -->
    </header>
    </div>
</template>
