<template>
    <!-- start: FOOTER -->
    <footer class="footer">
        <div class="container">
            <!-- bottom footer statrs -->
            <div class="bottom-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 payment-options color-gray">
                        <h5>Payment Options</h5>
                        <ul>
                            <li>
                                <a  href="#"> <img src="images/paypal.png" alt="Paypal"> </a>
                            </li>
                            <li>
                                <a href="#"> <img src="images/mastercard.png" alt="Mastercard"> </a>
                            </li>
                            <li>
                                <a href="#"> <img src="images/maestro.png" alt="Maestro"> </a>
                            </li>
                            <li>
                                <a href="#"> <img src="images/stripe.png" alt="Stripe"> </a>
                            </li>
                            <li>
                                <a href="#"> <img src="images/bitcoin.png" alt="Bitcoin"> </a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-xs-12 col-sm-3 address color-gray">
                        <h5>Address</h5>
                        <p>21 - Elngar st - Shibinelkon - Menofia</p>
                        <h5>Phone: <a href="tel:+080000012222">080 000012 222</a></h5>
                    </div>

                    <div class="col-xs-12 col-sm-3 address color-gray">
                        <h5>E-mail</h5>
                        <p>mostafa@mhosny.com</p>

                        <h5>Whatsapp: <a href="tel:+080000012222">01555683264</a></h5>
                    </div>

                    <div class="col-xs-12 col-sm-3 payment-options color-gray">
                      <h5>Social Media</h5>

                      <ul>
                          <li>
                              <a target="_blank" href="https://www.facebook.com"> <img style="width:30px" src="images/facebook.png" alt="Facebook"> </a>
                          </li>
                          <li>
                              <a target="_blank" href="https://www.twitter.com"> <img style="width:30px" src="images/twitter.png" alt="Twitter"> </a>
                          </li>
                          <li>
                              <a target="_blank" href="https://www.instagram.com"> <img style="width:30px" src="images/instagram.png" alt="Instagram"> </a>
                          </li>
                          <li>
                              <a target="_blank" href="https://www.web.whatsapp.com"> <img style="width:30px" src="images/whatsapp.png" alt="Whatsapp"> </a>
                          </li>
                          <li>
                              <a target="_blank" href="https://www.youtube.com"> <img style="width:30px" src="images/youtube.png" alt="Youtube"> </a>
                          </li>
                      </ul>
                    </div>
                </div>
            </div>
            <!-- bottom footer ends -->
        </div>
    </footer>
    <!-- end:Footer -->
</template>

<style>

</style>
