<template>
    <!--header starts-->
    <div class="header mb-5" id="header">
    <header  class="header-scroll top-header headrom">
        <!-- .navbar -->
        <nav class="navbar navbar-dark">
            <div class="container">
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#mainNavbarCollapse">&#9776;</button>
                <router-link class="navbar-brand"  to="/"><img class="img-rounded" src="../../../assets/images/food-picky-logo.png" alt=""></router-link>

                <div class="collapse navbar-toggleable-md  float-lg-right" id="mainNavbarCollapse">
                <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
                    <ul class="nav navbar-nav">

                        <li class="nav-item">
                            <router-link class="nav-link active" to="/"> <span class="sr-only">(current)</span> الرئيسية</router-link>
                        </li>

                        <li class="nav-item">
                            <router-link class="nav-link" to="/restaurants"> <span class="sr-only">(current)</span> المنيو</router-link>
                        </li>



                        <li class="nav-item dropdown"v-if="isLogged()">
                         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{loggedUser.user.name}}</a>
                            <div style="direction:rtl" class="dropdown-menu">
                              <router-link class="dropdown-item" to="/orders"> <span class="sr-only">(current)</span> طلباتك السابقة</router-link>

                            <router-link class="dropdown-item" to="/Profile">حسابى</router-link>
                            <router-link class="dropdown-item" to="/addresses">عناوين التوصيل</router-link>
                            <router-link class="dropdown-item" @click.native="loc_logout"to="/">تسجيل الخروج</router-link>
                            </div>

                        </li>

                        <li class="nav-item" v-if="!isLogged()">
                            <router-link class="nav-link active" to="/login"> تسجيل دخول</router-link>
                        </li>

                        <li class="nav-item" >
                        <router-link to="/cart" class="nav-link">
                            <icon name="shopping-cart"> </icon>
                            <span style="color:white" class="ml-1">{{this.cartProducts.length}}</span>
                        </router-link>

                        </li>



                    </ul>

                </div>
            </div>
        </nav>
        <!-- /.navbar -->
    </header>
    </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import {
  isLoggedIn,
  getLoggedInUser
} from "../service/authService";

export default {
  name:'App',
  data() {
    return {
      cartValue: 0
    };
  },
  computed: mapState(["cartProducts", "loggedUser"]),
  methods: {
    /* Initially loading the cart products from local storage */

    ...mapMutations(["SET_CART_PRODUCTS", "ADD_LOGGED_USER"]),

    getLocalProducts() {

    //const products ={};

  //  if(localStorage.getItem("iki-cart")){
    const products = JSON.parse(localStorage.getItem("iki-cart"));
//    }

      if (products) {
        this.SET_CART_PRODUCTS(products);
      }
    },

    isLogged() {
      return isLoggedIn();
    },

    loc_logout() {
    localStorage.removeItem("_auth");
    localStorage.removeItem("address");
      this.$router.push("/");
      location.reload();
    },
  },
  created() {
    this.getLocalProducts();
    const loggedUser = getLoggedInUser();
    this.ADD_LOGGED_USER(loggedUser);
  }
};
</script>

<style >
 .search-container {
  float: left;

}
.collapse{
  width: 90%;
  padding-top: 8px;
}
.collapse ul{
  float: right;
  margin: auto;
}
.search-btn{
  background-color:#f30;
  border: 1px solid #f30;
}
a {font-family: cursive;}
</style>
