<template>
  <div class="checkout">
    <modal
      v-if="isShowModal"
      @close="closeModal"
    />




    <button
      type="button"
      class="btn"
      @click="showModal"
      style="width:100%"
    >
    تفاصيل عنوان التوصيل
    </button>


  </div>



</template>

<script>
import Modal from "../shared/CheckModal";

export default {
  name: "checkout",
  components: { Modal },

  data() {
    return {
      isShowModal: false,
      address:''
    };
  },
  methods: {
    showModal() {
      this.isShowModal = true;
    },
    closeModal() {
      this.isShowModal = false;
    }
  },
  created(){
  this.address=localStorage.getItem('address');
  }
  };
</script>


<style lang="scss">
</style>
