<template>

    <!-- Popular block starts -->
    <section class="popular">
      <div class="container">
        <div class="title text-xs-center m-b-30">
          <h2>الاكثر طلباً</h2>
          <p class="lead">الاكثر طلباُ فى الفترة الاخيرة</p>
        </div>
        <div class="row">
            <div  v-if="loading"  v-for="loop in 6" class="col-lg-2">
              <VclInstagram   v-for="loop in 1" v-bind:key="loop" style="margin-bottom:50px;"></VclInstagram>
            </div>


            <div v-for="(item, index) in bestProducts" :key="index" class="col-xs-12 col-sm-6 col-md-2 food-item">
              <MainItem :item="item"/>

            </div>

        </div>
      </div>
    </section>
    <!-- Popular block ends -->

</template>

<script>
import { VclFacebook, VclInstagram } from "vue-content-loading";

import axios from "axios";
import { errorToaster } from "../shared/service/ErrorHandler";
import CardLoader from "../shared/CardLoader";
import MainItem from "../shared/items/MainItem";
import EditProduct from "./actions/EditProduct"
export default {
  name: "BestProducts",
  components: { CardLoader, MainItem, EditProduct,VclFacebook, VclInstagram },
  data() {
    return {
      bestProducts: [],
      loading: false
    };
  },
  methods: {

  //manadatory function called from cardTemplate
    editProduct(product){
      this.$refs.editProduct.setProduct(product);
    },
      // .get(`${process.env.VUE_APP_BASE_URL}/best/products`)
    getBestProducts() {
      this.loading = true;
      axios
          .get('/api/product/best_seller')
              .then(response => {
              this.loading = false;

         this.bestProducts =
          _.map(response.data.data,'product'
        );





         console.log(this.bestProducts);
        })
        .catch(error => {
          console.log(error);
          errorToaster(
            "The server encountered an unexpected condition.",
            "Internal Error 500"
          );
        });
    }
  },
  created() {
    this.getBestProducts();
  }
};
</script>

<style>
.best-products {
  margin-bottom: 10px;
}
</style>
