<template>

    <!-- Popular block starts -->
    <section class="popular">
        <div class="container">
            <div class="row">
                <card-template />
                <card-template />
                <card-template />
                <card-template />
                <card-template />
                <card-template />

            </div>
        </div>
    </section>
    <!-- Popular block ends -->

</template>


<script>
import axios from "axios";
import CardTemplate from "../shared/items/CardTemplate";
import EditProduct from "./actions/EditProduct"
export default {
  name: "productslist",
  props: ["products_list"],
  components: { CardTemplate, EditProduct },
  data() {
    return {
      selectedProduct: Object
    };
  },
  methods: {
    //manadatory function called from cardTemplate while onClick 'edit'
    editProduct(product){
      // this.will pass the product to the editProduct to bind with Product Object
      this.$refs.editProduct.setProduct(product);
    }
  },
  mounted() {}
};
</script>

<style>
.footerIcons {
  font-size: 95%;
}

.card {
  height: 490px;
}
.card-text {
  height: 70px;
  overflow: hidden;
}
</style>
