<template>

<div  class="col-xs-12 col-sm-8 col-md-8 col-lg-6">


    <div v-for="(items, index) in products_list" :key="index" class="menu-widget" :id="items.id">
        <div class="widget-heading" style="background-color:#f30">
            <h3 class="widget-title text-dark" style="color:white;text-align: center;">
          {{items[0].product_category.title}} <a class="btn btn-link pull-right" data-toggle="collapse" :href="'#popular' + index"  aria-expanded="true">
          <i style="color: white;" class="fa fa-angle-right pull-right"></i>
          <i style="color: white;" class="fa fa-angle-down pull-right"></i>
          </a>
            </h3><div class="clearfix"></div>
        </div>


        <div class="collapse in" :id="'popular' + index" >
            <div style="text-align: end;"  v-for="(item, index) in items"  v-bind:class = "(index % 2)?'food-item':'food-item white'"  >
                        <SearchItem  :item="item"/>
            </div>
        </div>

    </div>
    <!-- end:Widget menu -->


</div>
<!-- end:Bar -->
</template>


<script>
import axios from "axios";
import CardTemplate from "../shared/items/CardTemplate";
import SearchItem from "../shared/items/SearchItem";
import EditProduct from "./actions/EditProduct";

export default {
  name: "productslist",
  props: ["products_list"],
  components: { CardTemplate, EditProduct ,SearchItem },
  data() {
    return {
      selectedProduct: Object
    };
  },
  methods: {
    //manadatory function called from cardTemplate while onClick 'edit'
    editProduct(product){
      // this.will pass the product to the editProduct to bind with Product Object
      this.$refs.editProduct.setProduct(product);
    }
  },
  mounted() {

  }
};
</script>

<style>
.footerIcons {
  font-size: 95%;
}

.card {
  height: 490px;
}
.card-text {
  height: 70px;
  overflow: hidden;
}
</style>
