<template>

  <!-- Popular block starts -->
  <section class="popular">
    <div class="container">
      <div class="title text-xs-center m-b-30">
        <h2>Top Meals</h2>
        <p class="lead">The easiest way to your favourite food</p>
      </div>
      <div class="row">
        <card-loader :loopCount="4" v-if="loading"/>
        <div  v-for="(item, index) in topProducts" :key="index">
          <card-template/>
        </div>

      </div>
    </div>
  </section>
  <!-- Popular block ends -->

</template>

<script>
import axios from "axios";
import { errorToaster } from "../shared/service/ErrorHandler";
import CardLoader from "../shared/CardLoader";
import CardTemplate from "../shared/items/CardTemplate";
import EditProduct from "./actions/EditProduct";
export default {
  name: "TopProducts",
  components: { CardLoader, CardTemplate, EditProduct },
  data() {
    return {
      topProducts: [],
      loading: false
    };
  },
  methods: {
    //manadatory function called from cardTemplate
    editProduct(product) {
      this.$refs.editProduct.setProduct(product);
    },

    getTopProducts() {
      this.loading = true;
      axios
        .get(`/products`)
        .then(response => {
          this.loading = false;
          this.topProducts = response.data;
        })
        .catch(error => {
          errorToaster(
            "The server encountered an unexpected condition.",
            "Internal Error 500"
          );
        });
    }
  },

  created() {
    this.getTopProducts();
  }
};
</script>

<style>
.card {
  height: 490px;
}
.card-text {
  height: 70px;
  overflow: hidden;
}
</style>
