<template>



  <div class="about">
    <div class="container">
      <section class="story-area bg-seller color-white pos-relative">
        <div class="pos-bottom triangle-up"></div>
        <div class="pos-top triangle-bottom"></div>
        <div class="container">
          <div class="heading">
            <img class="heading-img" src="" alt="">
            <h2>Best Sellers</h2>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-4  col-sm-6 ">
              <div class="center-text mb-30">
                <div class="ïmg-200x mlr-auto pos-relative">
                  <h6 class="ribbon-cont"><div class="ribbon primary"></div><b>OFFER</b></h6>
                  <img src="" alt="">
                </div>
                <h5 class="mt-20">Pizza Margherita</h5>
                <h4 class="mt-5"><b>$11.90</b></h4>
                <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
              </div><!--text-center-->
            </div><!-- col-md-3 -->

            <div class="col-lg-3 col-md-4  col-sm-6 ">
              <div class="center-text mb-30">
                <div class="ïmg-200x mlr-auto pos-relative"><img src="" alt=""></div>
                <h5 class="mt-20">Pizza Margherita</h5>
                <h4 class="mt-5"><b>$11.90</b></h4>
                <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
              </div><!--text-center-->
            </div><!-- col-md-3 -->

            <div class="col-lg-3 col-md-4  col-sm-6 ">
              <div class="center-text mb-30">
                <div class="ïmg-200x mlr-auto pos-relative"><img src="" alt=""></div>
                <h5 class="mt-20">Pizza Margherita</h5>
                <h4 class="mt-5"><b>$11.90</b></h4>
                <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
              </div><!--text-center-->
            </div><!-- col-md-3 -->

            <div class="col-lg-3 col-md-4  col-sm-6 ">
              <div class="center-text mb-30">
                <div class="ïmg-200x mlr-auto pos-relative">
                  <h6  class="ribbon-cont"><div class="ribbon secondary"></div><b>SPECIALITY</b></h6>
                  <img src="" alt="">
                </div>
                <h5 class="mt-20">Pizza Margherita</h5>
                <h4 class="mt-5"><b>$11.90</b></h4>
                <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
              </div><!--text-center-->
            </div><!-- col-md-3 -->

            <div class="col-lg-3 col-md-4  col-sm-6 ">
              <div class="center-text mb-30">
                <div class="ïmg-200x mlr-auto pos-relative"><img src="" alt=""></div>
                <h5 class="mt-20">Pizza Margherita</h5>
                <h4 class="mt-5"><b>$11.90</b></h4>
                <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
              </div><!--text-center-->
            </div><!-- col-md-3 -->

            <div class="col-lg-3 col-md-4  col-sm-6 ">
              <div class="center-text mb-30">
                <div class="ïmg-200x mlr-auto pos-relative">
                  <h6 class="ribbon-cont"><div class="ribbon primary"></div><b>OFFER</b></h6>
                  <img src="" alt="">
                </div>
                <h5 class="mt-20">Pizza Margherita</h5>
                <h4 class="mt-5"><b>$11.90</b></h4>
                <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
              </div><!--text-center-->
            </div><!-- col-md-3 -->

            <div class="col-lg-3 col-md-4  col-sm-6 ">
              <div class="center-text mb-30">
                <div class="ïmg-200x mlr-auto pos-relative">
                  <h6 class="ribbon-cont color-black"><div class="ribbon white"></div><b>PLUS SIZE</b></h6>
                  <img src="" alt="">
                </div>
                <h5 class="mt-20">Pizza Margherita</h5>
                <h4 class="mt-5"><b>$11.90</b></h4>
                <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
              </div><!--text-center-->
            </div><!-- col-md-3 -->

            <div class="col-lg-3 col-md-4  col-sm-6 ">
              <div class="center-text mb-30">
                <div class="ïmg-200x mlr-auto pos-relative"><img src="" alt=""></div>
                <h5 class="mt-20">Pizza Margherita</h5>
                <h4 class="mt-5"><b>$11.90</b></h4>
                <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
              </div><!--text-center-->
            </div><!-- col-md-3 -->
          </div><!-- row -->

          <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#" class="btn-primaryc plr-25"><b>SEE TODAYS MENU</b></a></h6>
        </div><!-- container -->
      </section>
      <div class="modal-content text-center">
        <div class="modal-header">
          <h4 class="modal-title" style="margin: 0 auto">
            More About
            <span style="color:crimson">Mostafa</span>
          </h4>
        </div>
        <div class="modal-body">
          <img
            src="https://avatars1.githubusercontent.com/u/17190913?s=460&v=4"
            name="aboutme"
            width="140"
            height="140"
            border="0"
            class="avatar"
          >
          <h3 class="media-heading">Mostafa Hosny</h3>
          <h6>
            <strong>mostafaeid2005@gmail.com</strong>
          </h6>
          <h6>
            <a href="#" target="_blank">mostafa.github.io</a>
            <strong></strong>
          </h6>

          <span class="badge badge-warning p-2 m-1">Angular</span>
          <span class="badge badge-primary p-2 m-1">Vuejs</span>
          <span class="badge badge-secondary p-2 m-1">React</span>
          <span class="badge badge-success p-2 m-1">Github</span>
          <span class="badge badge-danger p-2 m-1">RestService</span>
          <!-- <hr> -->
          <!-- <p class="text-left">
            <strong>Bio:</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.
          </p>
          <br>-->
        </div>
        <!-- <div class="modal-footer" style="margin: 0 auto">
          <button type="button" class="btn btn-default" data-dismiss="modal">Read More</button>
        </div>-->
      </div>
    </div>
  </div>
</template>
<style>
.avatar {
  border-radius: 10px;
}
</style>
