<template>
  <div class=" cart-products">
  <Wrapper where="4"></Wrapper>


<div class="container " style="padding-top: 73px;">
  <div class="row">

      <div class="col-lg-3">

        <cart-calculator ref="cartCalculator"></cart-calculator>

      </div>
      <div class="col-lg-2"></div>
        <div class="col-md-4">
          <div class="payment-option">
              <form style="direction:rtl"  class="form-signup" @submit.prevent="checkout">
                <h1  class="h3 mb-2 font-weight-normal text-center">ميعاد التوصيل</h1>


                <div class="row  mt-2">
                  <div class="col-md-7 mb-1 " style="float:right">
                  <label>التاريخ</label>

                  <input
                    type="date"
                    class="form-control"
                    id="con-passwordId"
                    placeholder="confirm password"
                    v-model="delivery_details.delivery_date"
                    required
                  >

                  </div>

                  <div class="col-md-5 mb-1 ">
                  <label>الوقت</label>
                  <input
                    type="time"
                    class="form-control"
                    id="con-passwordId"
                    placeholder="confirm password"
                    v-model="delivery_details.delivery_time"
                    required
                  >

                  </div>


                </div>


                <div class="row  mb-2">

                  <div class="col-md-5 mb-1 ">
                    <a class="btn btn-success btn-block" v-on:click="check_coupon()" style="color:white;">
                        <i class="fa fa-spinner fa-spin mr-1" v-if="couponShowLoader"></i>
                        <i v-if="!couponShowLoader">تحقق الكوبون</i>
                    </a>

                  </div>

                  <div class="col-md-7 mb-1" style="float:right">
                    <input
                      type="text"
                      class="form-control"
                      id="con-passwordId"
                      placeholder="كوبون الخصم"
                      v-model="delivery_details.coupon_code"

                    >
                  </div>



                </div>


                <div class="row">
                      <div class="col-md-12 mb-1 ">

                            <ul class=" list-unstyled">
                                <li class="mb-2">
                                    <label class="custom-control custom-radio  m-b-20">
                                        <input id="radioStacked1" value="cash" required v-model="delivery_details.payment_type" name="payment_type" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">الدفع عند الاستلام</span>

                                    </label>
                                </li>
                                <li class="mb-2">
                                    <label class="custom-control custom-radio  m-b-10">
                                        <input name="payment_type" value="visa"   required v-model="delivery_details.payment_type"  type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">الدفع عن طريق باى بال <img src="images/paypal.jpg" alt="" width="90"></span>

                                      </label>

                                </li>
                            </ul>
                            <p class="text-xs-center">
                                <button  class="btn btn-outline-success btn-block">
                                    <i class="fa fa-spinner fa-spin mr-1" v-if="checkShowLoader"></i>
                                    <i v-if="!checkShowLoader">تأكيد الطلب</i>
                                </button>
                            </p>

                      </div>
                  </div>
              </form>

      </div>

        </div>
    </div>

  </div>
</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import CartCalculator from "../components/products/cart/CartCalculator";
import CardTemplate from "../components/shared/items/CardTemplate";
import Header from "../components/shared/commen/Header";
import Wrapper from "../components/shared/Wrapper";
import { infoToaster, successToaster ,errorToaster} from "../components/shared/service/ErrorHandler";



export default {
  name: "CartProducts",
  components: { CartCalculator,CardTemplate,Header,Wrapper },
  data() {
    return {
    delivery_details:{
            delivery_date:'',
            delivery_time:'',
            coupon_code:'',
            payment_type:''
      },
      couponShowLoader:false,
      checkShowLoader:false,
    };
  },
  computed: mapState(["cartProducts","orderMoney"]),
  methods: {
    ...mapMutations(["SET_CART_PRODUCTS","CALCULATE_TOTAL_AFTER_DICOUNT","SET_ORDER_DETAILS","SET_ORDER","CALCULATE_TOTAL_PRICE","ADD_USER_ADDRESS"]),
    checkout(event){
      this.checkShowLoader=true;
      this.SET_ORDER_DETAILS(this.delivery_details);
      this.SET_ORDER();

    //  this.$router.push("/");

    },

    check_coupon(){

    if(this.delivery_details.coupon_code=='')
    {
    errorToaster("من فضلك ادخل كوبون الخصم", "");
      return;
    }
    this.couponShowLoader=true;
    axios
      .post(`api/get_code`,{
        coupon_code:this.delivery_details.coupon_code,
        total:this.orderMoney.total

      })
      .then(response => {

        if(response.data.code==200){
          this.CALCULATE_TOTAL_PRICE();
          this.CALCULATE_TOTAL_AFTER_DICOUNT(response.data.data.amount);
          this.couponShowLoader=false;

        successToaster('تم تطبيق الخصم', "");
        }
        else{
        this.couponShowLoader=false;

        errorToaster(response.data.message, "");
        this.CALCULATE_TOTAL_PRICE();

        }
      })
      .catch(error => {
        console.log(error);

        errorToaster('internal error', "");

      });

    }

  },
};
</script>

<style>
.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}
</style>
