<template>
  <div class="home-component">

    <Banner/>


    <BestProducts />

    <HowWorks/>

    <BestProducts />


<!--    <TopProducts></TopProducts>   !-->
<Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "../components/shared/commen/Header";
import Banner from "../components/shared/home/Banner";
import HowWorks from "../components/shared/home/HowWorks";
import tab from "../components/shared/home/Tab";
import Footer from "../components/shared/commen/Footer";

import HelloWorld from "../components/HelloWorld";
import BestProducts from "../components/products/BestProducts.vue";
import TopProducts from "../components/products/TopProducts.vue";


export default {
  name: "home",
  data(){
    return {
      loading:false
    }
  },
  components: {
    HelloWorld,
    BestProducts,
    TopProducts,
    Banner,
    HowWorks,
    Footer,
    Header,
    tab
  },
};
</script>
<style>
.jumbotron {
  padding: 1rem 0rem;
}
</style>
