<template>


    <div class="login mb-0 pt-2">
      <div class="container">
        <div class="row">
          <div class="col">
            <createAccount v-if="isSignUp"></createAccount>

            <form class="form-signin" style="direction:rtl" @submit.prevent="login" v-if="!isSignUp">
              <img class="mb-4" src="../assets/images/login-img.png" alt width="72" height="72">
              <h1 class="h3 mb-2 font-weight-normal">تسجيل الدخول</h1>
              <label for="email" class="sr-only">البريد الالكترونى</label>
              <input
                type="email"
                id="email"
                class="form-control"
                v-model="email"
                placeholder="البريد الالكترونى"
                required
                autocomplete="email"
              >
              <label for="password" class="sr-only">كلمة المرور</label>
              <input
                type="password"
                id="password"
                v-model="password"
                class="form-control"
                placeholder="كلمة المرور"
                required
                autocomplete="current-password"
              >
              <p class="text-muted">
                <!-- <a href="javascript:;;">Forget password ?</a> -->
              </p>
              <button class="btn btn-lg btn-primary btn-block" type="submit">
                <i class="fa fa-spinner fa-spin mr-1" v-if="showLoader"></i> تسجيل الدخول
              </button>
            </form>


            <p class="text-muted pull-right">
              <span v-if="isSignUp">
                انت عضو فى اونلاين اوردر؟
                <a href="javascript:;;" @click="toggleForm">تسجيل الدخول</a>
              </span>
              <span v-if="!isSignUp">
                جديد فى اونلاين اوردر
                <a href="javascript:;;" @click="toggleForm">تسجيل جديد</a>
              </span>
              <span>
                <a style="color:white"  @click.stop="socialLogin('facebook')" class="btn btn-md btn-primary btn-block" >الدخول بالفيسبوك
                    <i class="fa fa-spinner fa-spin mr-1" v-if="showLoader"></i>
                </a>
              </span>
            </p>


          </div>
        </div>
      </div>
    </div>

</template>
<script>
import CreateAccount from "../components/CreateAccount";
import Header from "../components/shared/commen/Header";
import { encryptUser } from "../components/shared/service/authService";
import axios from "axios";
import {
  successToaster,
  errorToaster
} from "../components/shared/service/ErrorHandler.js";

import { mapState, mapActions, mapMutations } from "vuex";

export default {
  name: "login",
  components: { CreateAccount,Header },
  data() {
    return {
      email: "",
      password: "",
      showLoader: false,
      isSignUp: false,
      error: {},
      isProcessing: false,
      auth: null,
      status: null,
    };
  },
  computed: mapState(["loggedUser"]),
  methods: {
    toggleForm() {
      this.isSignUp = !this.isSignUp;
    },

    ...mapMutations(["ADD_LOGGED_USER"]),

    //  Login function usign email and password
    login(event) {
      this.showLoader = true;
      const user = {
        email: this.email,
        password: this.password
      };

      axios
        .post(`api/user/login`,user)
        .then(response => {
          this.showLoader = false;

          if(response.data.code==200){
          const loggedUser = response.data.data;
          this.ADD_LOGGED_USER(loggedUser);
          event.target.reset();
          this.$router.push(this.$route.query.from || "/");
          successToaster('Login Success', "");


          }

          else{errorToaster(response.data.message, "");}
        })
        .catch(error => {
          this.showLoader = false;

          errorToaster('internal error', "");

        });
    },
    socialLogin(provider){
          this.isProcessing = true;
            this.showLoader = true;
          this.error = {};
          axios.get('/api/social/${provider}')
              .then((response) => {
                  //if(response.data.error){
                    //  this.error = err.response.data.error;
                  //} else if(response.data.redirectUrl){
                      window.location.href = response.data.data.redirectUrl;
                  //}
              })
              .catch((err) => {
                  if(err.response.data.error){
                      this.error = err.response.data.error;
                  }
                  this.isProcessing = false;
              });
              this.isProcessing = false;
          }


  },

  created(){

          if(this.$cookie.get('name') != null ){
            let koki =JSON.parse(this.$cookie.get('name'));
            console.log(koki.code);
            if(koki.code!=200){
            errorToaster(koki.error, "");

            }
            else{
            this.ADD_LOGGED_USER(koki);
            location.reload();

            }
        }

  }

};


</script>
<style>
.login {
  position: relative;

  top: 50px;
  margin-bottom: 15%;

}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
