<template>
<div>
<Wrapper where="1"></Wrapper>
<banner></banner>

     <div class="page-wrapper" style="padding-top:0px;">

<!--
     <div class="breadcrumb">
         <div class="container">
             <ul>
                 <li><a href="#" class="active">Home</a></li>
                 <li><a href="#">Search results</a></li>
                 <li>Profile</li>
             </ul>
         </div>
     </div>
!-->

     <div class="container m-t-30">
         <div class="row">


 <cartorder />
 <div v-if="loading" class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
          <CardLoader  :loopCount=5 />
</div>
         <SearchProducts v-if="!loading" :products_list="products_list" />

 <FoodFilter :loading="loading"  :categories="product_category" />



         </div>
         <!-- end:row -->
     </div>
     <!-- end:Container -->

     </div>
    <Footer></Footer>
</div>

</template>


<script>
    import { mapState, mapActions, mapMutations } from "vuex";
    import cartorder from "../components/products/cart/CartOrders";
    import Header from "../components/shared/commen/Header";
    import Footer from "../components/shared/commen/Footer";
    import Wrapper from "../components/shared/Wrapper";
    import banner from "../components/shared/Banner";
    import SearchProducts from "../components/products/SearchProducts";

    import CardLoader from "../components/shared/CardLoader";
    import FoodFilter from "../components/products/filters/FoodFilter"
    import axios from "axios";
    import _ from "lodash";

export default {
  name: "allProducts",
  components: { SearchProducts, CardLoader,FoodFilter,cartorder,Header,Wrapper,banner,Footer },
  data() {
    return {
      product_category: [],
      sellers: [],
      products_list: [],
      product_duplicate: [],
      loading: false
    };
  },
  methods: {
    getAllProducts: function() {
      this.loading = true;
      axios
        .post(`api/product/active_products`)
        .then(response => {
          this.loading = false;

          this.products_list = response.data.data;
        //  this.product_duplicate = response.data.products;

      //  this.product_category = response.data.data.product_category;


        console.log('products_list',this.products_list);


        //omit any ojects with duplicate ids
       this.product_category = _.uniqBy(
         _.map(this.products_list, function(object) {
             return _.pick(object[0], ["product_category"]);
              }),
           "product_category"
        );


        })

        .catch(error => {
          console.log(error);
        });
    },

    filterProductBy(event, productFilterID) {
      const productList = [...this.products_list];
      let filteredData = [];
      if (event.target.value !== "All") {
        productList.map(product => {
          if (product[productFilterID] === event.target.value) {
            filteredData.push(product);
          }
        });
        this.product_duplicate = filteredData;
      } else {
        filteredData = productList;

        this.product_duplicate = filteredData;
      }
    }
  },

  created() {
    this.getAllProducts();
    $(function(){
        var hasBeenTrigged = false;
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 280) { // if scroll is greater/equal then 100 and hasBeenTrigged is set to false.
                $('.sidebar-wrap,.sidebar').addClass('setFixed');
                hasBeenTrigged = true;
            }
            else{
            $('.sidebar-wrap,.sidebar').removeClass('setFixed');
sidebar
            }
        });
    });

  }
};


</script>

<style lang="scss">
.products {
  margin-top: 40px;
}
.setFixed{
    position: fixed;
    width:287px;
    top:150px
}



</style>
