<template>
<div>

<section s class="inner-page-hero bg-image" style='background: rgba(0, 0, 0, 0) url("/images/banner1.jpg") no-repeat scroll center center / cover;' data-image-src="http://placehold.it/1670x480">
        <div class="container">
            <div class="row">
            <div class="col-lg-3 ">
            </div>
              <div class="col-lg-6 ">
                <div id="map-result-section" class="map-result-wrapper" style="width:100%">
                    <div class="clearfix">
                        <div class="widget-body">
                            <form class="row" @submit.prevent="get_order">
                                <div class="col-xs-12 col-md-6 col-lg-8">
                                    <div class="form-group">
                                        <input type="text" v-model="search_order_id" class="form-control" id="exampleInputText2" placeholder="Enter Order Id" required> </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-3">

                                <button class="btn theme-btn  btn-block" type="submit" >
                                  <i class="fa fa-spinner fa-spin mr-1" v-if="showLoader"></i>
                                  <i v-if="!showLoader">Find Order</i>
                                </button>
                                </div>
                            </form>
                        </div
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>


</section>



     <div class="container m-t-30 m-b-30">
         <div class="row order-row">

         <div v-if="loading"  class="col-xs-12">
            <div class="row">
              <div  v-for="loop in 4" class="col-lg-3">
                <VclInstagram   v-for="loop in 2" v-bind:key="loop" style="margin-bottom:50px;"></VclInstagram>
              </div>
            </div>
         </div>

         <div v-if="!loading && !isFounded"  v-for="item in order_list" class="bg-gray restaurant-entry ">
            <orders   :item="item"/>
        </div>

        <div v-if="!loading && isFounded"  class="bg-gray restaurant-entry ">
           <orders   :item="find_order"/>
       </div>




         </div>
         <!-- end:row -->
     </div>

    <Footer></Footer>
</div>

</template>


<script>
    import { mapState, mapActions, mapMutations } from "vuex";
    import cartorder from "../components/products/cart/CartOrders";
    import Header from "../components/shared/commen/Header";
    import Footer from "../components/shared/commen/Footer";
    import banner from "../components/shared/Banner";
    import orders from "../components/orders/OrderItem";
    import {isLoggedIn,  getLoggedInUser } from "../components/shared/service/authService";
    import { VclFacebook, VclInstagram } from "vue-content-loading";

    import {
      successToaster,
      errorToaster
    } from "../components/shared/service/ErrorHandler.js";


    import CardLoader from "../components/shared/CardLoader";
    import axios from "axios";
    import _ from "lodash";

export default {
  name: "allProducts",
  components: { orders, CardLoader,Header,banner,Footer,VclFacebook, VclInstagram },
  data() {
    return {
      order_list:'',
      loading: false,
      headers:'',
      search_order_id:'',
      isFounded:false,
      find_order:'',
      showLoader:false
    };
  },
  methods: {
    getAllOrders: function() {
      this.loading = true;
      axios
        .get('/api/order')
        .then(response => {
          this.loading = false;
          this.order_list = response.data.data;
          console.log(this.order_list);
        })

        .catch(error => {
          console.log(error);
        });
    },

    get_order(){
    this.showLoader=true;
        axios
          .get('api/order/'+this.search_order_id)
          .then(response => {
            if(response.data.code==200){
            this.isFounded=true;
            this.showLoader=false;

            this.loading=false;
            successToaster('موجود يابرنس', "");
            this.find_order = response.data.data;
            console.log(this.order_list);
            }
            else{
            this.isFounded=false;
            this.showLoader=false;

            errorToaster(response.data.message, "");
            }
          })
          .catch(error => {
           this.isFounded = false;
            errorToaster(error, "");

          });

   },



    navigateOrderDetails(order) {
      this.$router.push({
        name: "order_details",
        params: { id: product._id }
      });
    },

  },

  created(){

  const loggedUser = getLoggedInUser();
  this.getAllOrders();
}
};
</script>

<style lang="scss">
.products {
  margin-top: 40px;
}
</style>
