<template>
<div>

<div class="container" >
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="./admin.jpg" class="img-responsive rounded-circle border border-danger" height="150" width="150" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE

				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Marcus Doe
					</div>
					<div class="profile-usertitle-job">
						Developer
					</div>
				</div>
				-->
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-info btn-sm rounded-pill">Follow</button>
					<button type="button" class="btn btn-danger btn-sm rounded-pill">Message</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
						المحفظه </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							الرسايل </a>
						</li>

						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							الاعدادات </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="v1"></div>
		<div class="col-md-9">
            <div class="profile-content">
            <!--               بيانات العرض                      -->
<div  class=" row order-data justify-content-center text-right  py-3 border ">


    <div  class="col-md-9 col-10 mt-3 ml-2  border bg-dark text-light p-5 " style="border-radius:50px;">

       <div class="row">

        <h5 class="col-md-3 col-7">رقم التسلسل:</h5>
        <p  class="col-3 text-light">ghghghghgh</p>

      </div>

       <hr class=" bg-light">

       <div  class="row">
        <h5 class="col-md-3 col-6">الاسم:</h5>
        <p class="col-3 text-light">ghghghg</p>
      </div>

       <hr class=" bg-light">



       <div  class="row">
        <h5 class="col-md-3 col-6"> البرومو كود:</h5>
				<p class="col-3 text-light">ghghghgh</p>
        </div>

       <hr class=" bg-light">

       <div class="row">
        <h5 class="col-md-3 col-6">التكلفة:</h5>
        <p class="col-3 text-light">hghghg</p>
      </div>

       <hr class=" bg-light">

       <div class="row">
        <h5 class="col-md-3 col-7"> تاريخ البدء:</h5>
          <p class="col-md-7 col-3 text-light">ghghghgh</p>
        </div>

    </div>
</div>

            </div>
		</div>
	</div>
</div>
</div>
</template>



<script>
    import Header from "../components/shared/commen/Header";
    import {isLoggedIn,  getLoggedInUser } from "../components/shared/service/authService";
    import { mapState, mapActions, mapMutations } from "vuex";

export default {
  name: "profile",
  components: {Header },
  data() {
    return {
    };
  },
  computed: mapState(["loggedUser"]),

  created() {

    const loggedUser = getLoggedInUser();

console.log(loggedUser);

  }


};
</script>
<style>
.v1{
	border-left:6px solid black;
	height: 100%;

}
</style>
