<template>
  <div>

      <section s class="bg-image" style='background: rgba(0, 0, 0, 0) url("/images/banner1.jpg") no-repeat scroll center center / cover;' data-image-src="http://placehold.it/1670x480">
              <div class="container">
                  <div class="row">
                  <div class="col-lg-3 ">
                  </div>
                    <div class="col-lg-6 ">
                      <div id="map-result-section" class="map-result-wrapper" style="width:100%">
                          <div class="clearfix">
                              <div class="widget-body">
                                  <form class="row" @submit.prevent="get_order">
                                      <div class="col-xs-12 col-md-6 col-lg-8">
                                          <div class="form-group">
                                              <input type="text" v-model="search_order_id" class="form-control" id="exampleInputText2" placeholder="Enter Order Id" required> </div>
                                      </div>
                                      <div class="col-xs-12 col-md-6 col-lg-3">

                                      <button class="btn theme-btn  btn-block" type="submit" >
                                        <i class="fa fa-spinner fa-spin mr-1" v-if="showLoader"></i>
                                        <i v-if="!showLoader">Find Order</i>
                                      </button>
                                      </div>
                                  </form>
                              </div
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </section>
      <div class="container">
        <div style="padding-top: 68px;" v-if="items" v-for="(item, index) in items" :key="index" class="col-xs-12 col-sm-6 col-md-3 food-item">
          <MainItem :item="item"/>
        </div>
      </div>
        <h1 v-if="!items"></h1>
  </div>
</template>

<script>
import MainItem from "../components/shared/items/MainItem";

export default {
  name: "Search",
  props: ['items','word'],
  components: {MainItem},

};
</script>
