<template>
  <div class="home-component">

    <!-- PAGE CONTETNT -->
    <section class="gl-page-content-section">
        <div class="container-fluid">
            <div class="row">
                <!-- SEARCH MAP -->
                <div class="col-lg-6" >

                  <Map />
                </div>


                <!-- SEARCH MAP END -->
                <!-- SEARCH -->
              <div class="col-lg-6">
                <div id="map-result-section" class="map-result-wrapper" style="width:100%">
                    <div class="widget clearfix">
                        <!-- /widget heading -->
                        <div class="widget-heading">
                            <h3 class="widget-title text-dark">
                                    ابحث وتابع اوردرك
                                </h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget-body">
                            <form class="row">
                                <div class="col-xs-12 col-md-6 col-lg-8">
                                    <div class="form-group">
                                        <input type="text" v-model="order_id" class="form-control" id="exampleInputText2" placeholder="Enter Order Id"> </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-3">
                                 <a v-on:click="get_order()" class="btn theme-btn  btn-block">Find Order</a>
                                </div>
                            </form>


                            <div class="progress">
                                <progressbar :now="now" label animated style="background-color: red;" type="danger"></progressbar>
                            </div>









                        </div>
                    </div>
                    <!-- end:Pricing widget -->
                    <div class="search-result-wrapper">
                    <div class="widget-heading">
                        <h3 class="widget-title text-dark">
                              بيانات الاوردر
                            </h3>
                        <div class="clearfix"></div>
                    </div>








                    <div class="row" v-if="isFounded">


                    <div class="col-md-6" style="direction: rtl;">

                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    <i class="fa fa-list" aria-hidden="true">

                                    </i>
                                    الطلبات
                                </h3>
                            </div>
                            <div class="box-body box-profile">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>الاسم</th>
                                        <th>الحجم</th>
                                        <th>الكميه</th>
                                        <th>الاجمالى</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="product in orderDetails.products">
                                            <td>{{product.title }}</td>
                                            <td>{{product.pivot.size }}</td>
                                            <td>{{product.pivot.qua }}</td>
                                            <td>{{product.pivot.total_price }}</td>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>


                        <div class="col-lg-6">
                          <ul class="list-group mb-3">

                          <li class="list-group-item d-flex justify-content-between">
                            <span  class="pull-right"> رقم الاوردر</span>
                            <strong>{{orderDetails.id}}</strong>
                          </li>

                              <li class="list-group-item d-flex justify-content-between">
                                <span  class="pull-right"> اسم العميل</span>
                                <strong>{{orderDetails.user.name}}</strong>
                              </li>

                              <li class="list-group-item d-flex justify-content-between">
                                <span class="pull-right"> رقم الموبيل  </span>
                                <strong> {{orderDetails.user.phone}} </strong>
                              </li>



                          </ul>
                        </div>
              </div>





  </div>










                    </div>
                </div>
                <!-- SEARCH END-->
            </div>
        </div>
    </section>
    <!-- PAGE CONTETNT END -->


  </div>
</template>

<script>
import Header from "../components/shared/commen/Header";
import Footer from "../components/shared/commen/Footer";
import CardTemplate from "../components/shared/items/CardTemplate";
import OrderStatus from "../components/orders/OrderStatus";
import { progressbar } from 'vue-strap';
import {  getLoggedInUser } from "../components/shared/service/authService";

import Map from "../components/Map";


import {
  successToaster,
  errorToaster
} from "../components/shared/service/ErrorHandler.js";



export default {
  name: "home",
  data(){
    return {
      loading:false,
      now:0,
      order_id:'',
      headers:'',
      orderDetails:new Object(),
      isFounded:false,
      statuses:{1:20,2:40,3:60,4:80,5:100}
    }
  },
  components: {
    Footer,
    Header,
    CardTemplate,
    OrderStatus,
    progressbar,
    Map
  },
  methods:{
         get_order(){
             axios
          //     .get('api/find_order/${this.order_id}',{  ,{   headers: {Authorization: 'Bearer '+this.headers  }   }

               .get('api/order/'+this.order_id)
               .then(response => {
                 if(response.data.code==200){
                  this.isFounded = true;
                  this.orderDetails=response.data.data;
                  this.now=this.statuses[this.orderDetails.current_status_id];
//                  console.log(this.orderDetails);
                 }
                 else{
                  this.isFounded = false;
                 this.orderDetails={};
                 this.now=0;
                 errorToaster(response.data.message, "");
                 }
               })
               .catch(error => {
                this.isFounded = false;
                 errorToaster(error, "");

               });

        }
  },

computed :{
   getOrderId : function(){
      return this.order_id;
   }
},
  created() {
  console.log(this.order_id);
  this.pusher = new Pusher('1a041caa97b6db9892dd', {
    cluster: 'us2',
    encrypted: true
  })
  this.pusherChannel = this.pusher.subscribe('pizza-tracker.'+this.order_id);

  this.pusherChannel.bind('App\\Events\\OrderStatusChange', function(data) {
      console.log('message received in tracker');
      console.log(data);
      this.now=data.order.current_status_id*16.666;
  }.bind(this));

  const loggedUser = getLoggedInUser();
}
};
</script>


<style>
.jumbotron {
  padding: 1rem 0rem;
}
</style>
