<template>
  <div class="create-account">
    <form class="form-signup" style="direction:rtl" @submit.prevent="createAccount">
      <img class="mb-4" src="../assets/images/create-account.svg" alt width="72" height="72">
      <h1 class="h3 mb-2 font-weight-normal">انشاء اكونت جديد</h1>
      <div class="row">

        <div class="col-md-12 mb-2 ">
          <div class="row">
            <div class="col-lg-6" style="float:right">
              <input
                type="text"
                class="form-control"
                id="firstname"
                placeholder="الاسم الاول"
                v-model="user.name"
                required
              >

            </div>


            <div class="col-lg-6" >
              <input
                type="text"
                class="form-control"
                v-model="user.last_name"
                id="lastnameId"
                placeholder="الاسم الاخير"
                required
              >
            </div>
          </div>
        </div>



        <div class="col-md-12 mb-2 ">
          <div class="row">
            <div class="col-md-6" style="float:right">
              <input
                type="text"
                class="form-control"
                v-model="user.email"
                id="emailId"
                placeholder="البريد الالكترونى"
                autocomplete="off"
                required
              >
            </div>
            <div class="col-md-6" >
              <input
                type="text"
                class="form-control"
                v-model="user.phone"
                id="phoneId"
                placeholder="الموبيل"
                value
                required
              >

            </div>


          </div>
        </div>




          <div class="col-md-12 mb-2 ">
            <div class="row">
              <div class="col-md-6"style="float:right">
                <input
                  type="password"
                  class="form-control"
                  id="passwordId"
                  placeholder="كلمة المرور"
                  v-model="user.password"
                    autocomplete="off"
                  required
                >
              </div>

              <div class="col-md-6" >
                <input
                  type="password"
                  class="form-control"
                  id="con-passwordId"
                  placeholder="تأكيد كلمة المرور"
                  v-model="user.con_password"
                  required
                >

              </div>

            </div>
          </div>





        <div class="col-md-12 mb-2 ">
          <div class="row">
            <div class="col-md-6" style="float:right">
              <select v-model="user.gender" required class="form-control b-r-0" id="genderId">
                <option selected  value="">اختر النوع</option>
                <option value="ذكر">ذكر</option>
                <option value="انثى">انثى</option>
              </select>

            </div>

            <div class="col-md-6">
              <input
                type="date"
                class="form-control"
                id="birthDateId"
                v-model="user.birth_date"
                required
              >
            </div>

          </div>

        </div>




        <div class="col-md-12 mb-2 ">
            <div class="row">
              <div class="col-md-4" style="float:right">
                <select v-model="user.government_id" v-on:change="getCities()" required class="form-control b-r-0" id="governmentId">
                <option selected  value="">اختر المحافظة</option>

                    <option v-for="government in governments" :value="government.id">{{government.name }}</option>
                </select>

              </div>

              <div class="col-md-4" style="float:right">
                <select v-model="user.city_id" v-on:change="getZones()"  required class="form-control b-r-0" id="cityId">
                <option selected  value="">اختر المدينة</option>
                <option v-for="city in cities" :value="city.id">{{city.name }}</option>

                </select>

              </div>

              <div class="col-md-4" style="float:right">
                <select v-model="user.zone_id" required class="form-control b-r-0" id="zoneId">
                    <option selected  value="">اختر المنطقة</option>
                    <option v-for="zone in zones" :value="zone.id">{{zone.name }}</option>
                </select>

              </div>


            </div>

        </div>





      </div>


      <button class="btn btn-lg btn-primary btn-block" type="submit">
        <i class="fa fa-spinner fa-spin mr-1" v-if="showLoader"></i>تسجيل
      </button>
    </form>

  </div>
</template>
<script>
import axios from "axios";
import { successToaster, errorToaster } from "./shared/service/ErrorHandler.js";
import { mapState, mapActions, mapMutations } from "vuex";
import { encryptUser } from "../components/shared/service/authService";

export default {
  name: "CreateAccount",
  data() {
    return {
      showLoader: false,
      user: {
        name: "",
        last_name: "",
        email: "",
        password: "",
        gender: "",
        birth_date: "",
        government_id: "",
        city_id: "",
        zone_id: "",
        con_password:"",
        phone:''
      },
      governments:{},
      cities:{},
      zones:{}

    };
  },

  methods: {
  ...mapMutations(["ADD_LOGGED_USER"]),

    getCities(){
    axios
      .get('api/cities/'+this.user.government_id)
      .then(response => {
      this.cities=response.data.data;
      })
      .catch(error => {
        console.log(error);
        errorToaster(
          "error",
          "Please try again after sometime"
        );
      });


    },
    getZones(){

      axios
        .get('api/zones/'+this.user.city_id)
        .then(response => {
        this.zones=response.data.data;
        })
        .catch(error => {
          console.log(error);
          errorToaster(
            "error",
            "Please try again after sometime"
          );
        });

    },
    createAccount(event) {
    console.log(this.user);
      this.showLoader = true;
      axios
        .post('api/user/register', this.user)
        .then(response => {
          this.showLoader = false;
            if(response.data.code==400){
            errorToaster(
              response.data.message,
              "User Registered Successfully"
            );

            }
else if(response.data.code==200){

      this.ADD_LOGGED_USER(response.data.data);

          event.target.reset();
          this.$router.push(this.$route.query.from || "/");
          successToaster('Login Success', "");
          location.reload();
          }
          console.log(response.data.data);
        })
        .catch(error => {
          console.log(error);
          errorToaster(
            "Registeration Failed",
            "Please try again after sometime"
          );
        });
    }
  },

  created(){



  axios
    .get('api/governments')
    .then(response => {
    this.governments=response.data.data;
    })
    .catch(error => {
      console.log(error);
      errorToaster(
        "error",
        "Please try again after sometime"
      );
    });




  }

};
</script>

<style>
.form-signup {
  width: 100%;
  max-width: 500px;
  margin: auto;

}
</style>
