<template>
  <div class="hello">

    <div id="myMap"></div>
  </div>
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      marker:null,
      map:null,
      center:{lat:30.4168976, lng: 30.933387099999997},
      data:{lat:30.4168976, lng: 30.933387099999997},
      lineCoordinates:[]
    }},
  methods: {
        mapInit(){
                  this.map = new google.maps.Map(document.getElementById('myMap'), {
                      center: this.center,
                      zoom: 15
                  });

                    this.marker = new google.maps.Marker({
                      map:this.map,
                      position:this.center,
                      animation:"bounce",

                  });
            },
        updateMap(){
          let newPosition = {lat:this.data.lat,lng:this.data.lng};
          this.map.setCenter(newPosition);
          this.marker.setPosition(newPosition);

          console.log('newPosition',newPosition);
          this.lineCoordinates.push(new google.maps.LatLng(newPosition.lat,newPosition.lng));

          var lineCoordinatesPath = new google.maps.Polyline({
            path:this.lineCoordinates,
            geodesic:true,
            map:this.map,
            strokeColor:"#ff0000",
            strokeOpacity:1.0,
            strokeWeight:2
          });


        }

  },

  mounted() {
    this.mapInit();
  },

  created(){
        this.pusher = new Pusher('1a041caa97b6db9892dd', {
          cluster: 'us2',
          encrypted: true
        })
        this.pusherChannel = this.pusher.subscribe('location');

        this.pusherChannel.bind('App\\Events\\SendPosition', function(event) {

          this.data.lat=parseFloat(event.location.lat);
          this.data.lng=parseFloat(event.location.lng);

            this.updateMap();
        }.bind(this));

  }


}
</script>
<style scoped>
    #myMap {
    height:450px;
    width: 100%;
   }
</style>
