<template>
  <div class="hello">

    <div id="myMap">h11111111111

    <GmapMap
      :center="{lat:30, lng:30}"
      :zoom="6"
      map-type-id="terrain"
      style="width: 100%; height: 100%"
>
<GmapMarker
  :key="index"
  v-for="(m, index) in markers"
  :position="m.position"
  :clickable="true"
/>
</GmapMap>


    </div>

  </div>
</template>

<script>
export default {
  data(){
    return{
      markers: [
          {
          position:{lat:30, lng:30}
          },
          {
          position:{lat:30, lng:31}
          }


      ]

    }

  }

  }
</script>

<style scoped>
    #myMap {
    height:490px;
    width: 100%;
   }
</style>
