<template>

</template>
<script type="text/javascript">
    export default {
        data(){
            return {
                form: {
                    email: '',
                    password: ''
                },
            }
        },
        methods: {
        }
    }
</script>
