<template>
    <div>
    <h1 class="text-center alert alert-success">            تمت عملية الدفع بنجاح</h1>
    <h1 class="text-center alert alert-info">
    <router-link class="nav-link" :to="'/order_details/'+this.order_id">
        <span class="sr-only">(current)</span>
        اضغط هنا لمتابعة اوردرك
    </router-link>

    </h1>
    </div>
</template>



<script>
import { mapState, mapActions, mapMutations } from "vuex";

import {
    encryptUser,restCart
} from '../shared/service/authService';

    export default {
        data() {
          return {
            order_id:this.$route.params.id,
          }
        },
        methods: {
        ...mapMutations(["SET_CART_PRODUCTS"]),
        },
        created() {
                    localStorage.removeItem("iki-cart");
                    localStorage.removeItem("address");
                    this.SET_CART_PRODUCTS([]);
                    //location.replace('http://localhost:81/#/order_details/'+this.order_id);

          }
    }
</script>
