<template>

        <div class="col-sm-4 col-md-4 col-lg-3">
            <div class="right-content bg-white">
                <div class="right-review">
                      <p><strong>Order num: </strong>{{item.id}}</p>
                      <p><strong>Delivery Date: </strong>{{item.order_detail[0].delivery_date}} {{item.order_detail[0].delivery_time}}</p>
                      <p><strong>Order Status: </strong>{{item.current_status.title}}</p>
                      <p><strong>Payment Method: </strong>{{item.order_detail[0].payment_type}}</p>
                      <p><strong>Total Price: </strong>{{item.total}}</p>
                 <div class="rating-block"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                 <a v-on:click="navigateOrderDetails(item)" class="btn theme-btn-dash view-btn">Order details</a>
                  </div>


                      </div>
            </div>
            <!-- end:right info -->
        </div>
    <!--end:row -->

</template>


<script>
    import { mapState, mapActions, mapMutations } from "vuex";
    import Header from "../shared/commen/Header";
    import Footer from "../shared/commen/Footer";
    import Wrapper from "../shared/Wrapper";

    import CardLoader from "../shared/CardLoader";
    import axios from "axios";
    import _ from "lodash";

export default {
  name: "OrderItem",
  props: ["item"],
  components: { CardLoader,Header,Wrapper,Footer },
  data() {
    return {
      loading: false
    };
  },
  methods: {
    navigateOrderDetails(order) {
      this.$router.push({
        name: "OrderDetails",
        params: { id: order.id }
      });
    },

  },

};
</script>
<style lang="">

</style>
