<template>

<div>

  <div class="container " style="padding-top:25px" >

    <h4 class="d-flex title ">
    <span class="badge badge-primary badge-pill pull-left">
      <button v-if="!isCancel" v-on:click="cancelOrder()"  class="btn theme-btn  btn-sm" style="color:white;">الغاء الطلب</button>
      <i v-if="isCancel">تم الالغاء</i>
    </span>

      <span><strong><u>({{order.id}}) تفاصيل طلبك رقم </u></strong></span>


    </h4>


    <div class="row order-details" >
        <div class="col-lg-4">
          <Map />


                      <form style="margin-top:30px" >
                              <div class="form-group">
                                  <textarea  style="height:100px" class="form-control text-center" id="exampleInputText2" placeholder="اترك تعليقك هنا"></textarea>
                          </div>
                          <div class="form-group">
                           <a  class="btn theme-btn  btn-block" style="color:white;">Leave Your Comment</a>
                          </div>
                      </form>

        </div>
    <div class="col-lg-8" >


        <div class="col-lg-4" >

          <div class="row" >

            <ul class="list-group mb-2">
                <li class="list-group-item d-flex justify-content-between " style="background-color:rgb(243, 57, 11);">
                  <h4 class="text-center" style="color:white;text-align:center;"> تفاصيل الطلب </h4>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                  <span class="pull-right"> تاريخ التوصيل  </span>
                  <strong> {{order.order_detail.delivery_date}} </strong>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                  <span class="pull-right"> وقت التوصيل  </span>
                  <strong> {{order.order_detail.delivery_time}} </strong>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                  <span class="pull-right"> طريقة الدفع  </span>
                  <strong> {{order.order_detail.payment_type}} </strong>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                  <span class="pull-right"> كوبون الخصم  </span>
                  <strong v-if="order.order_detail.coupon_code">
                      {{(order.order_detail.coupon_code)}}
                    </strong>
                    <strong v-if="!order.order_detail.coupon_code">
                        لا يوجد
                      </strong>

                </li>



            </ul>
          </div>
          <div class="row">
          <ul class="list-group ">

              <li class="list-group-item d-flex justify-content-between list-header11" style="background-color:rgb(243, 57, 11);">

                <h4 class="text-center" style="color:white;text-align:center;"> حالة الطلب  </h4>
              </li>

              <li class="list-group-item d-flex justify-content-between">
                <span class="pull-right">حالة الطلب  </span>
                <strong id="stat" > {{order.current_status.title}}  </strong>
              </li>

              <li style="margin-top:20px">
                  <div class="progress">
                      <progressbar :now="now" label type="success" animated  striped ></progressbar>
                  </div>
              </li>

          </ul>
          </div>
        </div>
        <div class="col-lg-4" >
          <ul class="list-group mb-3">

              <li class="list-group-item d-flex justify-content-between list-header11" style="background-color:rgb(243, 57, 11);">
                <h4 class="text-center" style="color:white;text-align:center;"> عنوان التوصيل </h4>
              </li>


              <li class="list-group-item d-flex justify-content-between">
                <span  class="pull-right"> المحافظة </span>
                <strong>{{order.user_addresses.government.name}}</strong>
              </li>

              <li class="list-group-item d-flex justify-content-between">
                <span  class="pull-right"> المدينة </span>
                <strong>{{order.user_addresses.city.name}}</strong>
              </li>

              <li class="list-group-item d-flex justify-content-between">
                <span class="pull-right">الحى  </span>
                <strong> {{order.user_addresses.zone.name}} </strong>
              </li>

              <li class="list-group-item d-flex justify-content-between">
                <span  class="pull-right">رقم التلفون </span>
                <strong>{{order.user_addresses.phone}}</strong>
                <strong v-if="order.user_addresses.phone==null">لا يوجد</strong>
              </li>

              <li class="list-group-item d-flex justify-content-between">
                <span  class="pull-right"> رقم الشقه   </span>
                <strong>{{order.user_addresses.flat_num}}</strong>
                <strong v-if="order.user_addresses.flat_num==null">لا يوجد</strong>

              </li>

              <li class="list-group-item d-flex justify-content-between">
                <span class="pull-right"> رقم المبنى  </span>
                <strong> {{order.user_addresses.building_num}} </strong>
                <strong v-if="order.user_addresses.building_num==null">لا يوجد</strong>

              </li>

              <li class="list-group-item d-flex justify-content-between">
                <span  class="pull-right"> رقم الطابق </span>
                <strong>{{order.user_addresses.floor_num}}</strong>
                <strong v-if="order.user_addresses.floor_num==null">لا يوجد</strong>

              </li>

              <li class="list-group-item d-flex justify-content-between">
                <span  class="pull-right"> وصف </span>
                <strong>{{order.user_addresses.other}}</strong>
                <strong v-if="order.user_addresses.other==null">لا يوجد</strong>

              </li>

          </ul>
        </div>
        <div class="col-lg-4">
          <ul class="list-group mb-3">

              <li class="list-group-item d-flex justify-content-between list-header" style="background-color:rgb(243, 57, 11);">
                <h4 class="text-center" style="color:white;text-align:center;">بيانات الطلب</h4>
              </li>

              <li class="list-group-item d-flex justify-content-between">
                <span  class="pull-right"> رقم الطلب </span>
                <strong>{{order.id}}</strong>
                <strong v-if="order.id==null">غير محدد</strong>

              </li>

              <li class="list-group-item d-flex justify-content-between">
                <span class="pull-right"> تاريخ الطلب </span>
                <strong> {{order.created_at}} </strong>
                <strong v-if="order.created_at==null">غير محدد</strong>

              </li>

              <li class="list-group-item d-flex justify-content-between">
                <span  class="pull-right"> المجموع الجزئي</span>
                <strong>{{order.sub_total}}</strong>
                <strong v-if="order.sub_total==null">0</strong>

              </li>

              <li class="list-group-item d-flex justify-content-between">
                <span  class="pull-right"> الخصم</span>
                <strong>{{order.discount}}</strong>
                <strong v-if="order.discount==null">لا يوجد</strong>
              </li>

              <li class="list-group-item d-flex justify-content-between">
                <span class="pull-right"> الدليفرى  </span>
                <strong> {{order.shipping}} </strong>
                <strong v-if="order.shipping==null">0</strong>

              </li>

              <li class="list-group-item d-flex justify-content-between">
                <span class="pull-right"> المحفظه  </span>
                <strong> {{order.wallet}} </strong>
                <strong v-if="order.wallet==null">0</strong>

              </li>

              <li class="list-group-item d-flex justify-content-between">
                <span  class="pull-right"> المجموع النهائي</span>
                <strong>{{order.total}}</strong>
                <strong v-if="order.total==null">0</strong>

              </li>

          </ul>
        </div>


        <div class="col-md-12" style="direction: rtl; margin-top:30px;" >

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title" >
                        <i class="fa fa-list" aria-hidden="true">
                        </i>
                        المنتجات
                    </h3>
                </div>
                <div class="box-body box-profile">
                    <table class="table table-bordered">
                        <thead style="background-color:rgb(243, 57, 11); color:black;">
                        <tr>
                            <th>الاسم</th>
                            <th>الحجم</th>
                            <th>الكميه</th>
                            <th>الاجمالى</th>

                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="product in order.products">
                                <td>{{product.title }}</td>
                                <td>{{product.pivot.size }}</td>
                                <td>{{product.pivot.qua }}</td>
                                <td>{{product.pivot.total_price }}</td>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <!-- /.box-body -->
            </div>
        </div>





    </div>


    </div>
  </div>
</div>
</template>


<script>
  import { mapState, mapActions, mapMutations } from "vuex";
  import { infoToaster, successToaster ,errorToaster} from "../shared/service/ErrorHandler";
  import {isLoggedIn,  getLoggedInUser } from "../shared/service/authService";
  import Header from "../shared/commen/Header";

  import OrderStatus from "./OrderStatus";
  import  progressbar  from 'vue-strap/src/progressbar';

  import Map from "../Map";

  import axios from "axios";
  import _ from "lodash";

export default {
    name: "OrderDetails",
    components:{Header,progressbar,Map},
  data() {
    return {
    order_id:this.$route.params.id,
    now:0,
    order: {
        user:'',
        user_addresses:{government:'',city:'',zone:''},
        current_status:{},
        order_detail:{},
    },
    isCancel:false,

    similarProduct: [],
    headers:''

    };
  },
  methods: {
      cancelOrder(){
      if(confirm('Are you sure, You want to delete Category?')){
      axios
        .get('/api/order/cancel/'+this.$route.params.id)
        .then(response => {
          //  errorToaster("تم الغاء الاوردر بنجاح", "");
            this.isCancel=true;

        })
        .catch(error => {
          console.log(error);
          errorToaster("Error while fetching similar products", "");
        });
        }

      }


  },

  created() {
  const loggedUser = getLoggedInUser();

    axios
      .get('/api/order/'+this.$route.params.id)
      .then(response => {
        this.order = response.data.data;
        this.now =this.order.current_status.percentage;

        this.order.user_addresses=this.order.user_addresses[0];
        this.order.order_detail=this.order.order_detail[0];
        if(this.order.current_status.id == 7) this.isCancel=true;
        console.log(this.order);



        // Getting Similar Product
      //  this.getSimilarProduct(this.product.productSeller);
      })
      .catch(error => {
        console.log(error);
        errorToaster("Error while fetching similar products", "");
      });

      this.pusher = new Pusher('1a041caa97b6db9892dd', {
        cluster: 'us2',
        encrypted: true
      })
      this.pusherChannel = this.pusher.subscribe('pizza-tracker.'+this.order_id);

      this.pusherChannel.bind('App\\Events\\OrderStatusChange', function(data) {
          console.log('message received in tracker');
          console.log(data.order.current_status.percentage);
          this.now=data.order.current_status.percentage;
          $('#stat').text(data.order.current_status.title);
      //    errorToaster(data.order.current_status.title, "");
          this.$toasted.info(data.order.current_status.title, { action : [{ text : 'Cancel', onClick : (e, toastObject) => {toastObject.goAway(0);}}],})



      }.bind(this));




  }




};
</script>


<style >
  div.vertical-line{
    border-right: 2px solid gray;
    height:400px;
    width:10px;

    margin: auto;
    margin-right:10px;

  }
  div.order-details{
  }
  .title{
    text-align:center;
    margin-bottom:30px;
  }
  div ul li .list-header11{
    background-color: black;

  }
  table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  direction:rtl;

}


tr > th  {
text-align:center;
color:white;
}


th , td {
text-align:center;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

</style>
