<template>
    <div>

        <div class="progress">
            <progressbar :now="now" label style="background-color: red;" type="danger"></progressbar>
        </div>

        <div class="progress">
          <progressbar now="20" type="success"></progressbar>
        </div>
        <div class="order-status">
            <strong>Order Status:</strong> {{ statusNew }}
        </div>

        <img src="/img/delivery.gif" alt="delivery" v-if="progress >= 100">
    </div>
</template>


<script>
    import { progressbar } from 'vue-strap';
    export default {
        components: {
            progressbar
        },
        props: ['status', 'initial', 'order_id'],
        data() {
            return {
                statusNew: this.status,
                progress: this.initial,
                now:40
            }
        },
        created() {
            window.Echo.channel('tracker')
            .listen('App\\Events\\OrderStatusChange', (order) => {
            console.log('dddddddddddddddd');
//              this.statusNew = order.status_name
  //           this.progress = order.status_percent
            });
        }
    }
</script>
