<template>


  <!-- Each popular food item starts -->
  <div class="col-xs-12 col-sm-6 col-md-12 food-item">

    <div class="food-item-wrap row" style="max-height: 195px;">
    <h5 style="text-align:center;"><a href="#">{{item.title}}</a></h5>

      <div class="col-md-4">

          <div  class="figure-wrap bg-image"   v-bind:style="{ background: 'rgba(0, 0, 0, 0) url(/images/products/' + item.photo + ') no-repeat scroll center center / cover' }">

            <div class="distance"><i class="fa fa-pin"></i>1240m</div>
            <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
            <div class="review pull-right"><a href="#">198 reviews</a> </div>
          </div>
      </div>
      <div class=" col-md-8 content">

            <div class="form-group row no-gutter" v-for="price in item.product_prices" v-if="price.qua != 0">

            <div class="col-xs-2">
                <span class="price pull-left">{{price.size}}</span>
            </div>

            <div class="col-xs-4">
                <span class="price pull-left">{{price.price*price.qua}} EGY</span>
            </div>

            <div class="col-xs-4" style="display: flex;">


                <button style="width:27%;padding:0px;"  @click="changeQuantity({item:item,price:price.price,quan:1})" class="form-control"  >+</button>
                   <span style="padding: 1px 8px; margin-top: 0px;" class="price pull-left">{{price.qua}}</span>
                <button  style="width:27%;padding:0px;"   @click="changeQuantity({item:item,price:price.price,quan:-1})" class="form-control"  >-</button>

                </div>
                <div class="col-xs-2">
                    <a v-on:click="changeQuantity({item:item,price:price.price,quan:0})"><i class="fa fa-trash pull-right"></i></a>
                </div>


            </div>


      </div>
    </div>
  </div>
  <!-- Each popular food item starts -->

</template>

<script>
  import { mapState, mapActions, mapMutations } from "vuex";
import { infoToaster, successToaster } from "../service/ErrorHandler";

import _ from "lodash";
export default {
  name: "cardTemplate",
  props: ["item"],
  data() {
    return {
      showModal: false,
      img:'http://placehold.it/380x210'
    };
  },
  components: {},
  computed: mapState(["loggedUser",'msg']),
  methods: {

    ...mapMutations(["ADD_CART_LOCAL","CHANGE_QUANTITY","SET_CART_PRODUCTS","CALCULATE_TOTAL_PRICE"]),
    ...mapActions(["changeQuantity"]),

    navigateProductDetail(product) {
      this.$router.push({
        name: "productDetails",
        params: { id: product._id }
      });
    },




    addToCart(product) {
      this.ADD_CART_LOCAL(product);
        this.$toasted.info(this.msg, { action : [{ text : 'Cancel', onClick : (e, toastObject) => {toastObject.goAway(0);}}],})


      // const data = _.find(this.$store.getters.cartProducts, product);
      // if (data) {
      //   this.$toasted.info('Product Already Added', { action : [{ text : 'Cancel', onClick : (e, toastObject) => {toastObject.goAway(0);}}],})
      //    // infoToaster("Already Added", "Product Already Added");
      // } else {
      //   this.ADD_CART_LOCAL(product);
      //   this.$toasted.success('Product Added Successfully', { action : [{ text : 'Cancel', onClick : (e, toastObject) => {toastObject.goAway(0);}}],})
      //
      // //  successToaster("Added Successfully", "Product Added Successfully");
      // }
    },

    // this will trigger the parentComponent function
    updateEditProduct(product, id) {
      this.$parent.editProduct(product);
    }
  },
  mounted() {}
};
</script>
