<template>


  <!-- Each popular food item starts -->

    <div class="food-item-wrap" style="max-height: 364px;">
      <div  class="figure-wrap bg-image"   v-bind:style="{ background: 'rgba(0, 0, 0, 0) url(/images/products/' + item.photo + ') no-repeat scroll center center / cover' }">

        <div class="distance"><i class="fa fa-pin"></i>1240m</div>
        <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
        <div class="review pull-right"><a href="#">198 reviews</a> </div>
      </div>
      <div class="content">

        <h5 class="text-center"><a href="profile.html">{{item.title}}</a></h5>


        <div v-if="item.product_prices.length > 1" class="item-cart-info">
             <div style="margin-bottom:20px;" class="row no-gutter">
                 <div class="col-xs-12">

                     <select v-model="price" class="form-control b-r-0" id="exampleSelect6">
                     <option disabled  value="">الحجم</option>

                         <option  v-for="(size,index) in item.product_prices"  :value="size.price">{{size.size}}</option>
                     </select>
                 </div>
             </div>

             <div class="row no-gutter">
                 <div class="col-xs-8">
                     <span v-if="price" class="price pull-left" style="direction: rtl;">
                        <span>{{price}}</span> <span>جنية</span>
                      </span>
                 </div>
                 <div class="col-xs-4 pull-right">
                    <button v-on:click="addToCart(item)" type="button" class="btn theme-btn"><icon name="shopping-cart"> </icon></button>
                 </div>
             </div>

         </div>
         <div v-else="item.product_prices.length == 1" class="item-cart-info">
           <div style="margin-bottom:20px;" class="row no-gutter">
               <div class="col-xs-12">
                 <h5>{{item.product_prices[0].Size}}</h5>
               </div>
           </div>

           <div class="row no-gutter">
               <div class="col-xs-8">
                   <span  class="price pull-left" style="direction: rtl;">
                      <span>{{item.product_prices[0].price}}</span> <span>جنية</span>
                    </span>
               </div>
               <div class="col-xs-4 pull-right">
                  <button v-on:click="addToCart(item,item.product_prices[0].price)" type="button" class="btn theme-btn"><icon name="shopping-cart"> </icon></button>
               </div>
           </div>

         </div>





      </div>


      </div>
    </div>
  <!-- Each popular food item starts -->

</template>

<script>
  import { mapState, mapActions, mapMutations } from "vuex";
import { infoToaster, successToaster } from "../service/ErrorHandler";

import _ from "lodash";
export default {
  name: "cardTemplate",
  props: ["item"],
  data() {
    return {
      showModal: false,
      img:'http://placehold.it/380x210',
      price:'',
      selectedSize:''

    };
  },
  components: {},
  computed: mapState(["loggedUser",'msg',"cartProducts"]),
  methods: {
  ...mapMutations(["ADD_CART_LOCAL","SET_CART_PRODUCTS"]),

    navigateProductDetail(product) {
      this.$router.push({
        name: "productDetails",
        params: { id: product._id }
      });
    },

    ...mapMutations(["ADD_CART_LOCAL"]),

    addToCart(product,price=null) {

      if(price!=null) this.price=price;
            // find product in caret
     const data = _.find(this.cartProducts,{ id: product.id});



          if (data) { // if founded

              if(this.price=="") {infoToaster("رجاء اختيار الحجم", ""); return; }
              const price = _.find(data.product_prices,{ price: this.price}); // get the price that i want to increase it's qua

              price.qua+=1;                                         // increase the quantity of selected price

                const products = JSON.parse(localStorage.getItem("iki-cart")); // get products from localstorge


                var index = _.findIndex(products, {id: product.id});   // Find product index in localstorge using _.findIndex


                products.splice(index, 1,data); // Replace product at index using native splice with new prop of same product



                this.SET_CART_PRODUCTS(products);    // remove the caretProducts and set new new prop of same product

                localStorage.setItem("iki-cart", JSON.stringify(products)); // set new prop products to localstorge


                  infoToaster("تم زيادة الكمية", "");
                }

else{
  const price = _.find(product.product_prices,{ price: this.price});


        _.map(product.product_prices, function(object) {
                object.qua=0;
           });


  price.qua=1
  this.ADD_CART_LOCAL(product);
}


    },

    // this will trigger the parentComponent function
    updateEditProduct(product, id) {
      this.$parent.editProduct(product);
    }
  },
  mounted() {}
};
</script>
