<template>


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-8">

            <div class="rest-logo pull-left">
                <a style="cursor: pointer;" class="restaurant-logo pull-left" v-on:click="navigateProductDetail(item)"><img v-bind:src="'/images/products/'+item.photo" :alt="item.meta_title"></a>
            </div>
            <!-- end:Logo -->

            <div class="rest-descr">
                <h6><a  style="cursor: pointer;"  v-on:click="navigateProductDetail(item)" >{{item.title}}</a></h6>
                <p> {{item.description}}</p>
            </div>
            <!-- end:Description -->

        </div>
        <!-- end:col -->
        <div class="col-xs-12 col-sm-12 col-lg-4 pull-right">

            <div class="row no-gutter">
                <div class="col-xs-6">
                <select v-model="price" class="form-control b-r-0" id="exampleSelect6">
                <option disabled  value="">Size</option>
                    <option  v-for="(size,index) in item.product_prices"  :value="size.price">{{size.size}}</option>
                </select>

                </div>
                <div class="col-xs-6">
                   <button v-on:click="addToCart(item)" type="button" class="btn theme-btn">
                     <icon name="shopping-cart"> </icon>
                   </button>
                </div>
                
                <div class="col-xs-8">
                <span v-if="price" class="price pull-left" style="direction: rtl;">
                   <span>{{price}}</span> <span>جنية</span>
                 </span>

                </div>

            </div>


         </div>

    </div>
    <!-- end:row -->

<!-- end:Food item -->

</template>


<script>
  import { mapState, mapActions, mapMutations } from "vuex";
import { infoToaster, successToaster } from "../service/ErrorHandler";

import _ from "lodash";
export default {
  name: "cardTemplate",
  props: ["item"],
  data() {
    return {
      showModal: true,
      img:'http://placehold.it/380x210',
      price:'',
      selectedSize:''
    };
  },
  components: {},
  computed: {
          ...mapState(["loggedUser",'msg','cartProducts']),


          },

  methods: {

    navigateProductDetail(product) {
      this.$router.push({
        name: "productDetails",
        params: { id: product._id }
      });
    },

    ...mapMutations(["ADD_CART_LOCAL","SET_CART_PRODUCTS"]),



    addToCart(product) {

            // find product in caret
     const data = _.find(this.cartProducts,{ id: product.id});



          if (data) { // if founded

              if(this.price=="") {infoToaster("رجاء اختيار الحجم", ""); return; }
              const price = _.find(data.product_prices,{ price: this.price}); // get the price that i want to increase it's qua

              price.qua+=1;                                         // increase the quantity of selected price

                const products = JSON.parse(localStorage.getItem("iki-cart")); // get products from localstorge


                var index = _.findIndex(products, {id: product.id});   // Find product index in localstorge using _.findIndex


                products.splice(index, 1,data); // Replace product at index using native splice with new prop of same product



                this.SET_CART_PRODUCTS(products);    // remove the caretProducts and set new new prop of same product

                localStorage.setItem("iki-cart", JSON.stringify(products)); // set new prop products to localstorge


                  infoToaster("تم زيادة الكمية", "");
                }

else{
  const price = _.find(product.product_prices,{ price: this.price});


        _.map(product.product_prices, function(object) {
                object.qua=0;
           });


  price.qua=1
  this.ADD_CART_LOCAL(product);
}


    },

    // this will trigger the parentComponent function
    updateEditProduct(product, id) {
      this.$parent.editProduct(product);
    }
  },
  mounted() {

  }
};
</script>
