<template>

<div class="col-xs-12 col-md-12 col-lg-3">

    <div class="sidebar-wrap">
        <div class="widget widget-cart">
            <div class="widget-heading">
                <h3 class="widget-title text-dark" style="text-align: center; font-size: 30px; font-weight: 743;">السلة </h3>
                <div class="clearfix"></div>
            </div>

            <div v-if="cartProducts.length > 0">
                <div v-for="(item,index) in cartProducts" :class="(index %2)?'order-row bg-white':'order-row'">
                    <div class="widget-body1">
                        <div class="title-row">{{item.title}}
                      <!--      <a v-on:click="removeProductCart(item)" >
                            <i class="fa fa-trash pull-right"></i>
                        </a>
 !-->
                        </div>

                        <div class="form-group row no-gutter" v-for="price in item.product_prices" v-if="price.qua != 0">

                            <div class="col-xs-2">
                                <span class="price pull-left">{{price.size}}</span>
                            </div>

                            <div class="col-xs-4">
                                <span class="price pull-left">{{price.price*price.qua}} EGY</span>
                            </div>

                            <div class="col-xs-4" style="display: flex;">


                            <button style="width:27%;padding:0px;"  @click="changeQuantity({item:item,price:price.price,quan:1})" class="form-control"  >+</button>
                               <span style="padding: 1px 8px; margin-top: 0px;" class="price pull-left">{{price.qua}}</span>
                            <button  style="width:27%;padding:0px;"   @click="changeQuantity({item:item,price:price.price,quan:-1})" class="form-control"  >-</button>

                            </div>
                            <div class="col-xs-2">
                                <a v-on:click="changeQuantity({item:item,price:price.price,quan:0})"><i class="fa fa-trash pull-right"></i></a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="price-wrap text-xs-center">
                        <p>الاجمالى</p>
                        <h3 class="value"><strong>{{calulateTotalPrice}}</strong></h3>

                        <router-link class="btn theme-btn btn-lg" to="/cart"> راجع طلبك </router-link>

                    </div>
                </div>
            </div>

            <div v-else>
              <h4 class="widget-title text-dark text-center">لا يوجد منتجات بالسلة </h4>
            </div>






        </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import CartCalculator from "./CartCalculator";
import { IntegerPlusminus } from 'vue-integer-plusminus';

export default {
  name: "CartProducts",
  components: { CartCalculator ,IntegerPlusminus },
  data() {
    return {
        qua:'',
        quantity:0
    };
  },
  computed:{ ...mapState(["cartProducts"]),
            calulateTotalPrice() {
              this.totalValue = 0;
              this.cartProducts.forEach(product => {
                  product.product_prices.forEach(price => {
                  this.totalValue+=price.qua*price.price;

                  });
              });
              return this.totalValue;
            }

  },
  methods: {
    /* Resetting the store and localstorage after removing product from cart */
    ...mapMutations(["SET_CART_PRODUCTS","CHANGE_QUANTITY"]),
    ...mapActions(["changeQuantity"]),

    removeProductCart(product) {
      const products = JSON.parse(localStorage.getItem("iki-cart"));
      for (let i = 0; i < products.length; i++) {
        if (products[i]._id === product._id) {
          products.splice(i, 1);
        }
      }
      this.SET_CART_PRODUCTS(products);
      localStorage.setItem("iki-cart", JSON.stringify(products));
      this.$refs.cartCalculator.calulateTotalPrice();
      errorToaster('Unauthorised', "");
    },




  },
  created(){
  //this.calulateTotalPrice();
  },
  mounted() {
  console.log(this.cartProducts);
  }
};
</script>

<style>
.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}
.int-input-increment {
    background: #5CB85C !important;
}
.widget-body1{
padding:0px 10px;
}
</style>
