<template>

  <div class="cart-calculator">
    <h4 class="d-flex justify-content-between align-items-center" style="text-align:center">
      <span class="text-muted text-center">بيانات الطلب</span>
    </h4>
    <ul class="list-group">

      <!--    <li
            class="list-group-item d-flex justify-content-between lh-condensed"
            v-for="(product, index) in cartProducts"
            :key="index"
          >
            <div>
              <h6 class="pull-right  my-0">{{product.title}}</h6>
            </div>

            <span class="text-muted"  style="width:120px">{{calulateTotalProductPrice(product.product_prices)}}</span>
          </li>
          <hr>
          !-->

      <li class="list-group-item d-flex justify-content-between">
        <span  class="pull-right">احجمالى المنتجات </span>
        <strong> جنية {{this.orderMoney.sub_total}}</strong>
      </li>



      <li class="list-group-item d-flex justify-content-between">
        <span class="pull-right">تكلفة الدليفرى </span>
        <strong> جنية {{orderMoney.shipping}}  </strong>
      </li>

      <li v-if="orderMoney.discount>0" class="list-group-item d-flex justify-content-between">
        <span  class="pull-right">الخصم </span>
        <strong> جنية {{orderMoney.discount}}</strong>
      </li>

      <li class="list-group-item d-flex justify-content-between">
        <span  class="pull-right">الاجمالى</span>
        <strong>جنية {{this.orderMoney.total}}</strong>
      </li>
        <br>
      <li class="list-group-item d-flex justify-content-between">
         <ul>
               <li>
               <span  class="pull-right">{{address.government.name}} - {{address.city.name}} - {{address.zone.name}} - {{address.address}} </span>
               </li>
               <br>
                 <li>
                   <span  class="pull-right">رقم المبنى </span>
                   <strong> {{address.building_num}}</strong>
                 </li>
                 <li>
                   <span  class="pull-right">رقم الطابق</span>
                   <strong> {{address.floor_num}}</strong>
                 </li>
                 <li>
                   <span  class="pull-right">رقم الشقة </span>
                   <strong> {{address.flat_num}}</strong>
                 </li>
                 <li>
                   <span  class="pull-right">وصف </span>
                   <strong> {{address.other}}</strong>
                 </li>
         </ul>



      </li>

        <checkout />


    </ul>

  </div>
</template>
<script>
import { mapState, mapActions, mapMutations } from "vuex";
import checkout from '../../checkout/CheckoutModal';
import {
  successToaster,
  errorToaster
} from "../../shared/service/ErrorHandler.js";

import {
  isLoggedIn,
  getUserAddress
} from "../../shared/service/authService";

export default {
  name: "cartCalculator",
  components:{checkout},

  data() {
    return {
      total: 0.0,
      totalProductPrice:0.0,
      deliveryCost:10,
      address:{},
      orderDetails:{
          user_address_id:'',
          delivery_date: "27/3/2019",
          delivery_time: "من الساعه5 الى 7",
          coupon_code:"dsdd",
          payment_type: "visa"

      },
      orderProducts:{},

    };
  },
  computed:{ ...mapState(["cartProducts","orderMoney"]),


  },
  methods: {
...mapMutations(["SET_ORDER","CALCULATE_TOTAL_PRICE","ADD_USER_ADDRESS"]),

  calulateTotalProductPrice(allPrices) {
    this.totalProductPrice=0;

    allPrices.forEach(price => {
      this.totalProductPrice+=price.qua*price.price;

    });
    return this.totalProductPrice;
  },


  },
  created() {
    this.address = getUserAddress();
    this.ADD_USER_ADDRESS(this.address);
    this.CALCULATE_TOTAL_PRICE();
  }
};
</script>
<style>
</style>
