<template>
  <div class=" cart-products">
  <Wrapper where="3"></Wrapper>
  <div class="container">

    <div class="row";">

    <div v-if="cartProducts.length > 0" class="col-lg-3" style="    position: fixed; width: 300px; z-index: 100; top: 144px; clear: both;">

      <cart-calculator  ref="cartCalculator"></cart-calculator>

      <router-link to="/checkout" style="width:45%" class="btn btn-success mt-2 text-white">اتمام الطلب</router-link>

      <router-link to="/restaurants" style="width:45%" class="btn btn-primary mt-2 text-white">متابعة الشراء</router-link>

  <!--    <button @click="setOrder()" class="btn btn-success mt-2 text-white">Checkout</button> !-->

    </div>

      <div class="col-lg-6" style="left: 300px; top: 112px;">

          <template v-if="cartProducts.length > 0">
            <div v-for="(item, index) in cartProducts" :key="index">
              <CardTemplate :item="item" />


            </div>
          </template>


          <template v-else>
            <div class="error-template container">
              <h1>عفوا !</h1>
              <h2>لا يوجد اوردرات فى السلة</h2>
              <div class="error-details"></div>
              <div class="error-actions">
                <a class="btn text-white">
                  <span class="glyphicon glyphicon-envelope"></span>
                  <router-link to="/restaurants">الذهاب الى المنيو</router-link>
                </a>
              </div>
            </div>
          </template>
      </div>

      <div class="col-lg-2 ">adds on</div>
    </div>


  </div>
</div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import CartCalculator from "./CartCalculator";
import CardTemplate from "../../shared/items/CardTemplate";
import Header from "../../shared/commen/Header";
import Wrapper from "../../shared/Wrapper";

export default {
  name: "CartProducts",
  components: { CartCalculator,CardTemplate,Header,Wrapper },
  data() {
    return {
    address:[]
    };
  },
  computed:{
          ...mapState(["cartProducts"]),
          getAddress(){
              this.address=localStorage.getItem('address');
              return this.address;
          }
  },
  methods: {
    /* Resetting the store and localstorage after removing product from cart */
    ...mapMutations(["SET_CART_PRODUCTS"]),

    removeProductCart(product) {
      const products = JSON.parse(localStorage.getItem("iki-cart"));
      for (let i = 0; i < products.length; i++) {
        if (products[i]._id === product._id) {
          products.splice(i, 1);
        }
      }
      this.SET_CART_PRODUCTS(products);
      localStorage.setItem("iki-cart", JSON.stringify(products));
      this.$refs.cartCalculator.calulateTotalPrice();
    }
  },
  created(){


  },
  mounted() {}
};
</script>

<style>
.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}
</style>
