

<template>
  <div class="create-account">
    <form class="form-signup" style="direction:rtl" @submit.prevent="AddAddress">
      <h4 class="text-muted">اضافة عنوان توصيل جديد</h4>



            <div class="row">
              <div class="col-md-12 mb-2 ">
                <div class="row">
                  <div class="col-md-4" style="float:right">

                    <select v-model="address.government_id" v-on:change="getCities()" required class="form-control b-r-0" id="governmentId">
                    <option selected  value="">اختر المحافظة</option>

                        <option v-for="government in governments" :value="government.id">{{government.name }}</option>
                    </select>

                  </div>



                  <div class="col-md-4" style="float:right">

                    <select v-model="address.city_id" v-on:change="getZones()"  required class="form-control b-r-0" id="cityId">
                    <option selected  value="">اختر المدينة</option>
                    <option v-for="city in cities" :value="city.id">{{city.name }}</option>

                    </select>

                  </div>

                  <div class="col-md-4" style="float:right">
                    <select v-model="address.zone_id" required class="form-control b-r-0" id="zoneId">
                        <option selected  value="">اختر المنطقة</option>
                        <option v-for="zone in zones" :value="zone.id">{{zone.name }}</option>
                    </select>

                  </div>


                </div>
              </div>





              <div class="col-md-12 mb-2 ">
                <input
                  type="text"
                  class="form-control"
                  v-model="address.address"
                  placeholder="العنوان"
                  value
                  required
                >
              </div>









        <div class="col-md-12 mb-2 ">
          <div class="row">
            <div class="col-md-4" style="float:right">
              <input
                type="text"
                class="form-control"
                v-model="address.building_num"
                id="phoneId"
                placeholder="رقم المبنى"
                value
                required
              >

            </div>
            <div class="col-md-4" style="float:right">
              <input
                type="text"
                class="form-control"
                v-model="address.floor_num"
                id="emailId"
                placeholder="رقم الطابق"
                value
                required
              >
            </div>
            <div class="col-md-4 " style="float:right">
              <input
                type="text"
                class="form-control"
                id="emailId"
                v-model="address.flat_num"
                placeholder="رقم الشقة"
                value
                required
              >
            </div>


          </div>

      </div>





        <div class="col-md-12 mb-2 ">

          <textarea v-model="address.other" required placeholder="وصف" class="form-control b-r-0" id="genderId">
          </textarea>

        </div>


      </div>




      <button class="btn btn-lg btn-primary btn-block" type="submit">
        <i class="fa fa-spinner fa-spin mr-1" v-if="showLoader"></i>حفظ
      </button>
    </form>

  </div>
</template>
<script>
import axios from "axios";
import { successToaster, errorToaster } from "../shared/service/ErrorHandler.js";
import { mapState, mapActions, mapMutations } from "vuex";
import { encryptUser } from "../shared/service/authService";

export default {
  name: "CreateAccount",
  data() {
    return {
      showLoader: false,
      address: {
        building_num : "",
        floor_num : "",
        flat_num : "",
        address :"",
        government_id: "",
        city_id: "",
        zone_id: "",
        other:"",

      },
      governments:{},
      cities:{},
      zones:{}

    };
  },

  methods: {
  ...mapMutations(["ADD_LOGGED_USER"]),

    getCities(){
    axios
      .get('api/cities/'+this.address.government_id)
      .then(response => {
      this.cities=response.data.data;
      })
      .catch(error => {
        console.log(error);
        errorToaster(
          "error",
          "Please try again after sometime"
        );
      });


    },
    getZones(){

      axios
        .get('api/zones/'+this.address.city_id)
        .then(response => {
        this.zones=response.data.data;
        })
        .catch(error => {
          console.log(error);
          errorToaster(
            "error",
            "Please try again after sometime"
          );
        });

    },
    AddAddress(event) {
    console.log(this.address);
      this.showLoader = true;
      axios
        .post('api/user/address', this.address)
        .then(response => {
          this.showLoader = false;
            if(response.data.code==400){
            errorToaster(
              response.data.messagxe,
              "Address Registered Successfully"
            );

            }
else if(response.data.code==200){


          event.target.reset();
          this.$router.push(this.$route.query.from || "/addresses");
          successToaster('تم تسجيل عنوان التوصيل بنجاح', "");
          location.reload();
          }
          console.log(response.data.data);
        })
        .catch(error => {
          console.log(error);
          errorToaster(
            "Registeration Failed",
            "Please try again after sometime"
          );
        });
    }
  },

  created(){



  axios
    .get('api/governments')
    .then(response => {
    this.governments=response.data.data;
    })
    .catch(error => {
      console.log(error);
      errorToaster(
        "error",
        "Please try again after sometime"
      );
    });




  }

};
</script>

<style>
.form-signup {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
</style>
