<template>

<div>
<Wrapper where="2"></Wrapper>

  <div v-if="addaddress" class="container" style="padding-top: 85px;">

    <h4 class="d-flex justify-content-between align-items-center ">
      <span class="text-muted">عناوين التوصيل</span>
      <span class="badge badge-primary badge-pill"></span>
    </h4>

    <div class="row">
            <div v-if="loading"  class="col-xs-12">
               <div class="row">
                 <div  v-for="loop in 4" class="col-lg-3">
                   <VclInstagram   v-for="loop in 2" v-bind:key="loop" style="margin-bottom:50px;"></VclInstagram>
                 </div>
               </div>
            </div>

            <div  @click="toggleForm()" class="col-lg-3">
            <button  class="btn btn-block" style="height:250px">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="100" height="100" fill="#000000">
                <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24.984375 16.986328 A 1.0001 1.0001 0 0 0 24 18 L 24 24 L 18 24 A 1.0001 1.0001 0 1 0 18 26 L 24 26 L 24 32 A 1.0001 1.0001 0 1 0 26 32 L 26 26 L 32 26 A 1.0001 1.0001 0 1 0 32 24 L 26 24 L 26 18 A 1.0001 1.0001 0 0 0 24.984375 16.986328 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"/>
              </svg>

            </button>
            </div>

            <div v-if="!loading"  v-for="address in addresses" class="col-lg-3">
              <ul style="cursor: cell; border: 1px solid #ddd; border-radius: 20px;" @click="selectAddress(address)" class="list-group mb-3">

                  <li class="list-group-item d-flex justify-content-between li_padding">
                    <span  class="pull-right"> المحافظة </span>
                    <strong>{{address.government['name']}}</strong>
                  </li>

                  <li class="list-group-item d-flex justify-content-between li_padding">
                    <span  class="pull-right"> المدينة </span>
                    <strong>{{address.city['name']}}</strong>
                  </li>

                  <li class="list-group-item d-flex justify-content-between li_padding">
                    <span class="pull-right">الحى  </span>
                    <strong> {{address.zone['name']}} </strong>
                  </li>

                  <li class="list-group-item d-flex justify-content-between li_padding">
                    <span  class="pull-right">رقم التلفون </span>
                    <strong>{{address.phone}}</strong>
                    <strong v-if="address.phone==null">لا يوجد</strong>
                  </li>

                  <li class="list-group-item d-flex justify-content-between li_padding">
                    <span  class="pull-right"> رقم الشقه   </span>
                    <strong>{{address.flat_num}}</strong>
                    <strong v-if="address.flat_num==null">لا يوجد</strong>

                  </li>

                  <li class="list-group-item d-flex justify-content-between li_padding">
                    <span class="pull-right"> رقم المبنى  </span>
                    <strong> {{address.building_num}} </strong>
                    <strong v-if="address.building_num==null">لا يوجد</strong>

                  </li>

                  <li class="list-group-item d-flex justify-content-between li_padding">
                    <span  class="pull-right"> رقم الطابق </span>
                    <strong>{{address.floor_num}}</strong>
                    <strong v-if="address.floor_num==null">لا يوجد</strong>

                  </li>

                  <li class="list-group-item d-flex justify-content-between li_padding">
                    <span  class="pull-right"> وصف </span>
                    <strong>{{address.other}}</strong>
                    <strong v-if="address.other==null">لا يوجد</strong>

                  </li>

              </ul>
            </div>


    </div>
  </div>

  <div v-if="!addaddress" class="container" style="padding-top: 85px;">
      <h4 class="d-flex justify-content-between align-items-center ">
        <span @click="toggleForm()" class="btn btn-info">رجوع لعناوين التوصيل</span>
        <span class="badge badge-primary badge-pill"></span>
      </h4>

      <AddAddress />
  </div>

</div>
</template>


<script>
    import { mapState, mapActions, mapMutations } from "vuex";
    import Header from "../shared/commen/Header";
    import Footer from "../shared/commen/Footer";
    import Wrapper from "../shared/Wrapper";
    import AddAddress from "./AddAddress";

    import {isLoggedIn,  getLoggedInUser } from "../shared/service/authService";
    import { errorToaster } from "../shared/service/ErrorHandler.js";

    import CardLoader from "../shared/CardLoader";
    import axios from "axios";
    import _ from "lodash";
    import { VclFacebook, VclInstagram } from "vue-content-loading";

export default {
  name: "UserAdresses",
  props: ["item"],
  components: { CardLoader,Header,Wrapper,Footer,VclFacebook, VclInstagram,AddAddress },
  data() {
    return {
      loading: true,
      headers:'',
      addresses:new Object(),
      addaddress:true
    };
  },

  methods: {
          ...mapMutations(["ADD_USER_ADDRESS"]),

          toggleForm() {
            this.addaddress = !this.addaddress;
          },

    navigateOrderDetails(order) {
      this.$router.push({
        name: "OrderDetails",
        params: { id: order.id }
      });
    },
    getAllUserAddresses(){
    axios
      .get('/api/user/address')
      .then(response => {
        this.addresses = response.data.data;
        this.loading=false;
        console.log(this.addresses);
        // Getting Similar Product
      //  this.getSimilarProduct(this.product.productSeller);
      })
      .catch(error => {
        console.log(error);
        errorToaster("Error while fetching similar products", "");
      });
    },

    selectAddress(address){

      this.ADD_USER_ADDRESS(address)
      this.$router.push("/cart");


    }

  },
  created(){
  this.getAllUserAddresses();

}

};
</script>

<style>
.li_padding{
padding: .3rem 1.25rem!important;
border: 0px!important;
}
</style>
