<template>

    <!-- banner part starts -->
    <section div id="banner"class="hero bg-image" style='background: rgba(0, 0, 0, 0) url("/images/home1.jpg") no-repeat scroll center center / cover;'>

        <div class="hero-inner">
            <div class="container text-center hero-text font-white">
                <h1>Order Delivery & Take-Out </h1>
                <h5 style="font-family: cursive;" class="font-white space-xs">Find restaurants, specials, and coupons for free</h5>
                <div class="banner-form">
                    <form class="form-inline" @submit.prevent="search" >
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputAmount">انا عاوز اكل ....</label>
                            <div class="form-group">
                                <input v-model="word" type="text" required   class="form-control form-control-lg" id="exampleInputAmount" placeholder="I would like to eat...."> </div>
                        </div>
                        <button  type="submit" class="btn theme-btn btn-lg">
                          <i class="fa fa-spinner fa-spin mr-1" v-if="loading"></i>
                          <span style="color:white" >ابحث </span>
                        </button>
                    </form>
                </div>
                <div class="steps">
                    <div class="step-item step1">

                      <svg viewBox="0 -1 511.99871 511" xmlns="http://www.w3.org/2000/svg">
                        <g fill="#FFF">

                            <path d="m380.589844 204.039062 30.082031-1.90625c.050781-.003906.105469-.007812.160156-.011718 21.4375-1.808594 40.679688-13.039063 52.796875-30.820313l23.78125-34.890625c20.699219-30.375 28.71875-67.0625 22.574219-103.300781-1.207031-7.117187-4.847656-13.675781-10.246094-18.460937-5.402343-4.789063-12.347656-7.617188-19.558593-7.960938-36.726563-1.757812-72.175782 10.605469-99.847657 34.796875l-31.789062 27.792969c-16.199219 14.160156-25.042969 34.609375-24.269531 56.113281.003906.050781.003906.105469.007812.160156l1.714844 30.089844c.667968 11.730469-3.632813 23.304687-11.777344 31.734375l-248.351562 255.132812c-6.648438 6.933594-10.082032 16.445313-9.664063 26.785157.460937 11.382812 5.683594 22.5625 13.972656 29.910156 7.488281 6.636719 17.78125 10.417969 28.070313 10.417969 1.101562 0 2.203125-.042969 3.300781-.132813 10.316406-.824219 19.351563-5.371093 25.46875-12.847656l223.464844-277.085937c7.410156-9.117188 18.386719-14.773438 30.109375-15.515626zm-42.039063 5.859376-223.445312 277.0625c-3.414063 4.171874-8.664063 6.742187-14.78125 7.230468-7.277344.582032-14.738281-1.839844-19.964844-6.472656-5.226563-4.636719-8.523437-11.753906-8.816406-19.046875-.25-6.128906 1.667969-11.648437 5.363281-15.5l248.332031-255.113281c11.132813-11.519532 16.992188-27.296875 16.085938-43.289063l-1.714844-30.011719c-.582031-16.832031 6.351563-32.835937 19.035156-43.925781l31.789063-27.792969c24.671875-21.566406 56.289062-32.578124 89.015625-31.023437 3.726562.179687 7.3125 1.640625 10.105469 4.117187 2.792968 2.472657 4.671874 5.863282 5.296874 9.539063 5.476563 32.308594-1.671874 65.011719-20.125 92.089844l-23.78125 34.894531c-9.488281 13.921875-24.546874 22.722656-41.328124 24.164062l-30 1.898438c-15.984376 1.015625-30.945313 8.726562-41.066407 21.179688zm0 0"/><path d="m497.820312 440.570312-166.519531-151.667968c-3.132812-2.855469-7.984375-2.628906-10.84375.503906-2.851562 3.132812-2.625 7.988281.507813 10.84375l166.476562 151.632812c3.960938 3.660157 6.207032 9.054688 6.328125 15.1875.144531 7.296876-2.71875 14.597657-7.660156 19.539063-4.9375 4.9375-12.226563 7.808594-19.539063 7.660156-6.132812-.121093-11.527343-2.367187-15.148437-6.285156l-148.382813-162.90625c-2.855468-3.136719-7.710937-3.359375-10.84375-.507813-3.132812 2.855469-3.359374 7.710938-.503906 10.84375l148.417969 162.945313c6.523437 7.054687 15.8125 11.054687 26.160156 11.257813.269531.003906.535157.007812.804688.007812 11.121093 0 22.242187-4.511719 29.886719-12.160156 7.835937-7.835938 12.378906-19.308594 12.152343-30.695313-.203125-10.347656-4.199219-19.636719-11.292969-26.199219zm0 0"/><path d="m92.609375 202.585938c12.703125 11.703124 29.207031 18.375 46.472656 18.789062.054688.003906.109375.003906.160157.003906l30.140624.09375c11.75.035156 23.042969 5.023438 30.96875 13.660156l13.277344 14.574219c1.515625 1.664063 3.589844 2.507813 5.675782 2.507813 1.84375 0 3.695312-.660156 5.164062-2 3.136719-2.855469 3.363281-7.710938.507812-10.84375l-13.296874-14.59375c-10.828126-11.804688-26.226563-18.601563-42.246094-18.65625l-30.058594-.09375c-13.355469-.339844-26.125-5.453125-36.019531-14.410156l-87.347657-103.835938c-.890624-1.0625-.824218-2.601562.15625-3.582031.671876-.675781 1.460938-.773438 1.871094-.773438s1.199219.097657 1.875.773438l79.507813 79.511719c7.859375 7.859374 20.648437 7.859374 28.507812-.003907l9.34375-9.339843v-.003907l16.589844-16.589843s.003906 0 .003906-.003907c0 0 .003907-.003906.003907-.003906l9.339843-9.339844c7.859375-7.859375 7.859375-20.648437 0-28.507812l-79.507812-79.507813c-1.03125-1.03125-1.03125-2.714844 0-3.746094.980469-.980468 2.519531-1.046874 3.582031-.15625l103.835938 87.351563c8.960937 9.890625 14.074218 22.664063 14.414062 36.015625l.089844 30.0625c.054687 16.015625 6.855468 31.414062 18.675781 42.265625l14.226563 12.957031c3.136718 2.855469 7.988281 2.628906 10.84375-.503906 2.851562-3.136719 2.625-7.988281-.507813-10.84375l-14.203125-12.9375c-8.660156-7.945312-13.644531-19.242188-13.683594-30.988281l-.09375-30.140625c0-.054688 0-.109375-.003906-.164063-.414062-17.265625-7.085938-33.769531-18.789062-46.472656-.21875-.238281-.453126-.464844-.703126-.675781l-104.222656-87.671875c-7.203125-6.0625-17.65625-5.609375-24.3125 1.046875-7.019531 7.019531-7.019531 18.4375 0 25.453125l79.507813 79.511719c1.875 1.875 1.875 4.925781 0 6.800781l-3.917969 3.914062-88.613281-88.609375c-2.996094-3-7.855469-3-10.851563 0-2.996094 2.996094-2.996094 7.855469 0 10.851563l88.613282 88.613281-5.742188 5.738281-88.613281-88.609375c-2.996094-2.996094-7.855469-2.996094-10.851563 0-3 2.996094-3 7.855469 0 10.851563l88.609375 88.613281-3.914062 3.917969c-1.875 1.875-4.925781 1.875-6.800781 0l-79.511719-79.507813c-3.398438-3.398437-7.917969-5.273437-12.726563-5.273437s-9.328125 1.875-12.726562 5.273437c-6.65625 6.65625-7.105469 17.109375-1.046875 24.316406l87.675781 104.21875c.207031.25.433594.484376.671875.703126zm0 0"/>
                        </g>
                      </svg>
                        <h4><span>1. </span>اختر اوردرك</h4> </div>
                    <!-- end:Step -->
                    <div class="step-item step2">

                          <icon  name="shopping-cart">
                                <path d="M604.131 440.17h-19.12V333.237c0-12.512-3.776-24.787-10.78-35.173l-47.92-70.975a62.99 62.99 0 0 0-52.169-27.698h-74.28c-8.734 0-15.737 7.082-15.737 15.738v225.043h-121.65c11.567 9.992 19.514 23.92 21.796 39.658H412.53c4.563-31.238 31.475-55.396 63.972-55.396 32.498 0 59.33 24.158 63.895 55.396h63.735c4.328 0 7.869-3.541 7.869-7.869V448.04c-.001-4.327-3.541-7.87-7.87-7.87zM525.76 312.227h-98.044a7.842 7.842 0 0 1-7.868-7.869v-54.372c0-4.328 3.541-7.869 7.868-7.869h59.724c2.597 0 4.957 1.259 6.452 3.305l38.32 54.451c3.619 5.194-.079 12.354-6.452 12.354zM476.502 440.17c-27.068 0-48.943 21.953-48.943 49.021 0 26.99 21.875 48.943 48.943 48.943 26.989 0 48.943-21.953 48.943-48.943 0-27.066-21.954-49.021-48.943-49.021zm0 73.495c-13.535 0-24.472-11.016-24.472-24.471 0-13.535 10.937-24.473 24.472-24.473 13.533 0 24.472 10.938 24.472 24.473 0 13.455-10.938 24.471-24.472 24.471zM68.434 440.17c-4.328 0-7.869 3.543-7.869 7.869v23.922c0 4.328 3.541 7.869 7.869 7.869h87.971c2.282-15.738 10.229-29.666 21.718-39.658H68.434v-.002zm151.864 0c-26.989 0-48.943 21.953-48.943 49.021 0 26.99 21.954 48.943 48.943 48.943 27.068 0 48.943-21.953 48.943-48.943.001-27.066-21.874-49.021-48.943-49.021zm0 73.495c-13.534 0-24.471-11.016-24.471-24.471 0-13.535 10.937-24.473 24.471-24.473s24.472 10.938 24.472 24.473c0 13.455-10.938 24.471-24.472 24.471zm117.716-363.06h-91.198c4.485 13.298 6.846 27.54 6.846 42.255 0 74.28-60.431 134.711-134.711 134.711-13.535 0-26.675-2.045-39.029-5.744v86.949c0 4.328 3.541 7.869 7.869 7.869h265.96c4.329 0 7.869-3.541 7.869-7.869V174.211c-.001-13.062-10.545-23.606-23.606-23.606zM118.969 73.866C53.264 73.866 0 127.129 0 192.834s53.264 118.969 118.969 118.969 118.97-53.264 118.97-118.969-53.265-118.968-118.97-118.968zm0 210.864c-50.752 0-91.896-41.143-91.896-91.896s41.144-91.896 91.896-91.896c50.753 0 91.896 41.144 91.896 91.896 0 50.753-41.143 91.896-91.896 91.896zm35.097-72.488c-1.014 0-2.052-.131-3.082-.407L112.641 201.5a11.808 11.808 0 0 1-8.729-11.396v-59.015c0-6.516 5.287-11.803 11.803-11.803 6.516 0 11.803 5.287 11.803 11.803v49.971l29.614 7.983c6.294 1.698 10.02 8.177 8.322 14.469-1.421 5.264-6.185 8.73-11.388 8.73z" fill="#FFF" />
                            </icon>


                        <h4><span>2. </span>اختر مكان التوصيل</h4> </div>
                    <!-- end:Step -->
                    <div class="step-item step3">


                        <svg id="icons" enable-background="new 0 0 64 64" height="512" viewBox="0 0 64 64" width="512" xmlns="http://www.w3.org/2000/svg">
                            <g fill="#FFF">
                                <path d="m61 3.498h-58c-1.654 0-3 1.346-3 3v53.004c0 .553.447 1 1 1h62c.553 0 1-.447 1-1v-53.004c0-1.654-1.346-3-3-3zm-59 6h60v49.004h-60zm1-4h1.02c-.552 0-.994.447-.994 1s.452 1 1.005 1c.552 0 1-.447 1-1s-.448-1-1-1h2.988c-.552 0-.994.447-.994 1s.452 1 1.005 1c.552 0 1-.447 1-1s-.448-1-1-1h2.992c-.552 0-.994.447-.994 1s.452 1 1.005 1c.552 0 1-.447 1-1s-.448-1-1-1h50.967c.552 0 1 .448 1 1v1h-51.968-3.003-2.999-2.03v-1c0-.552.448-1 1-1z"/><path d="m26 16.498h.153l.86 5.164c.008.045.031.082.045.124.016.053.029.103.054.151.032.066.075.122.12.179.031.039.059.078.095.112.058.054.125.092.193.13.038.021.071.049.112.065.115.046.237.074.366.074h.002 8 .001c.129 0 .251-.028.366-.074.041-.017.074-.044.112-.065.069-.038.136-.077.193-.13.036-.034.063-.073.095-.112.045-.057.088-.112.12-.179.024-.048.038-.099.054-.151.014-.042.037-.079.045-.124l.859-5.164h.155c.553 0 1-.447 1-1s-.447-1-1-1h-1.464l-1.703-2.555c-.307-.46-.927-.584-1.387-.277s-.584.927-.277 1.387l.964 1.445h-4.266l.963-1.445c.307-.46.182-1.081-.277-1.387-.461-.307-1.081-.183-1.387.277l-1.702 2.555h-1.464c-.553 0-1 .447-1 1s.447 1 1 1zm9.818 0-.666 4h-6.306l-.666-4z"/><path d="m59 24.496h-54c-.553 0-1 .447-1 1v15.008 15.01c0 .553.447 1 1 1h54c.553 0 1-.447 1-1v-15.01-15.008c0-.553-.447-1-1-1zm-1 2v13.008h-52v-13.008zm-52 28.018v-13.01h52v13.01z"/><path d="m23.002 32.5h14.997c.553 0 1-.447 1-1s-.447-1-1-1h-14.997c-.553 0-1 .447-1 1s.447 1 1 1z"/><path d="m23.002 35.502h6.989c.553 0 1-.447 1-1s-.447-1-1-1h-6.989c-.553 0-1 .447-1 1s.447 1 1 1z"/><path d="m44.998 34.5h5c.553 0 1-.447 1-1s-.447-1-1-1h-5c-.553 0-1 .447-1 1s.447 1 1 1z"/><path d="m51.999 34.5c0 .553.447 1 1 1h1 .001c.002 0 .004-.001.006-.001.148-.001.286-.039.413-.098.009-.005.019-.003.027-.007.045-.022.073-.061.113-.088.06-.042.12-.079.169-.133.044-.047.072-.103.106-.157s.07-.104.093-.166c.026-.067.033-.139.043-.211.007-.048.028-.09.028-.14 0-.011-.006-.02-.006-.03-.002-.066-.024-.13-.04-.195s-.023-.132-.052-.192c-.004-.009-.003-.02-.008-.029l-.363-.727c.275-.178.469-.474.469-.826 0-.553-.447-1-1-1h-1c-.011 0-.021.006-.031.006-.064.002-.127.024-.191.039-.067.016-.134.024-.194.053-.01.004-.021.003-.03.008-.044.022-.073.061-.112.088-.061.042-.121.079-.17.133-.044.047-.072.103-.106.157s-.07.104-.093.165c-.026.068-.033.14-.043.212-.007.048-.028.09-.028.14 0 .011.006.02.006.03.002.066.024.13.04.196.016.065.023.131.052.19.004.01.003.021.008.03l.363.727c-.277.178-.47.473-.47.826z"/><path d="m37.999 45.508h-14.997c-.553 0-1 .447-1 1s.447 1 1 1h14.997c.553 0 1-.447 1-1s-.447-1-1-1z"/><path d="m29.991 48.51h-6.989c-.553 0-1 .447-1 1s.447 1 1 1h6.989c.553 0 1-.447 1-1s-.447-1-1-1z"/><path d="m49.998 47.508h-5c-.553 0-1 .447-1 1s.447 1 1 1h5c.553 0 1-.447 1-1s-.447-1-1-1z"/><path d="m54.999 47.508c0-.553-.447-1-1-1h-1c-.012 0-.021.006-.032.007-.063.002-.124.023-.188.037-.067.016-.136.024-.198.054-.009.004-.02.003-.029.008-.044.022-.073.061-.112.088-.061.042-.121.079-.17.133-.044.047-.072.103-.106.157s-.07.104-.093.165c-.026.068-.033.14-.043.212-.007.048-.028.09-.028.14 0 .011.006.02.006.03.002.066.024.13.04.196.016.065.023.131.052.19.004.01.003.021.008.03l.363.727c-.275.178-.469.474-.469.826 0 .553.447 1 1 1h1 .001c.002 0 .004-.001.006-.001.148-.001.286-.039.413-.098.009-.005.019-.003.027-.007.045-.022.073-.061.113-.088.06-.042.12-.079.169-.133.044-.047.072-.103.106-.157s.07-.104.093-.166c.026-.067.033-.139.043-.211.007-.048.028-.09.028-.14 0-.011-.006-.02-.006-.03-.002-.066-.024-.13-.04-.195s-.023-.132-.052-.192c-.004-.009-.003-.02-.008-.029l-.363-.727c.276-.178.469-.474.469-.826z"/><path d="m9.001 37.5h10c.553 0 1-.447 1-1s-.447-1-1-1v-1c0-2.414-1.721-4.435-4-4.898v-.102c0-.553-.447-1-1-1s-1 .447-1 1v.102c-2.279.464-4 2.484-4 4.898v1c-.553 0-1 .447-1 1s.447 1 1 1zm5-6c1.654 0 3 1.346 3 3v1h-6v-1c0-1.654 1.346-3 3-3z"/><path d="m19.001 50.508v-1c0-2.414-1.721-4.435-4-4.898v-.104c0-.553-.447-1-1-1s-1 .447-1 1v.104c-2.279.464-4 2.484-4 4.898v1c-.553 0-1 .447-1 1s.447 1 1 1h10c.553 0 1-.447 1-1s-.447-1-1-1zm-5-4c1.654 0 3 1.346 3 3v1h-6v-1c0-1.654 1.346-3 3-3z"/>
                            </g>
                        </svg>
                        <h4><span>3. </span>راجع اوردرك</h4> </div>
                    <!-- end:Step -->
                    <div class="step-item step4">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512" height="512">
                          <g fill="#FFF">
                            <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M93.459,105.444l76.858,11.215l25.561,90.071l-90.643-2.172l-30.312-74.62  L55.675,116c-7.43,3.98-16.215,5.526-25.094,3.781c-20.448-4.02-33.891-23.984-29.87-44.439c4.02-20.448,23.985-33.892,44.439-29.87  c20.448,4.021,33.892,23.985,29.869,44.439c-0.124,0.633-0.264,1.258-0.419,1.877L93.459,105.444L93.459,105.444z M391.114,411.671  c19.533,0,35.368,15.835,35.368,35.368c0,19.533-15.835,35.368-35.368,35.368c-19.533,0-35.368-15.835-35.368-35.368  C355.746,427.506,371.581,411.671,391.114,411.671L391.114,411.671z M208.693,411.671c19.533,0,35.368,15.835,35.368,35.368  c0,19.533-15.835,35.368-35.368,35.368c-19.533,0-35.368-15.835-35.368-35.368C173.326,427.506,189.16,411.671,208.693,411.671  L208.693,411.671z M403.65,246.252c-59.825,0-108.329-48.504-108.329-108.329c0-59.825,48.504-108.329,108.329-108.329  c29.725,0,57.255,12.171,76.625,31.757l-80.225,80.225l-19.882-19.882c-6.005-6.005-15.74-6.005-21.745,0  c-6.005,6.005-6.005,15.74,0,21.745l30.754,30.754c6.005,6.005,15.74,6.005,21.745,0l87.954-87.954  c22.976,42.24,15.174,94.483-18.627,128.284C460.645,234.126,433.563,246.252,403.65,246.252L403.65,246.252z M183.753,341.771  l48.643-6.364l-27.759-97.815l-86.828-2.081l36.474,89.787c-2.652,3.034-4.91,6.487-6.719,10.316  c-13.776,29.163,7.834,62.247,39.894,62.247h240.971c8.493,0,15.377-6.885,15.377-15.377c0-8.493-6.885-15.377-15.377-15.377  H187.457c-4.916,0-8.852-2.102-11.439-6.224C171.207,353.218,175.696,343.654,183.753,341.771L183.753,341.771z M203.6,121.516  l61.17,8.926c-1.506,27.761,5.447,54.937,19.309,78.401l-56.077-1.344L203.6,121.516L203.6,121.516z M431.762,274.108  c-17.876,21.357-42.5,37.072-71.16,43.823l-8.392-50.865C377.399,277.133,404.94,279.697,431.762,274.108L431.762,274.108z   M330.285,322.598l-12.41-75.223c-2.965-2.314-5.825-4.742-8.575-7.276l-72.54-1.738l26.399,93.02L330.285,322.598z"/>
                          </g>
                        </svg>
                        <h4><span>4. </span>تأكيد اوردرك</h4> </div>
                    <!-- end:Step -->
                </div>
                <!-- end:Steps -->
            </div>
        </div>
        <!--end:Hero inner -->
    </section>
    <!-- banner part ends -->

</template>



<script>

import axios from "axios";
import { errorToaster } from "../service/ErrorHandler";

export default {
  name: "home",
  data(){
    return {
      loading:false,
      word:'',
    }
  },
  methods:{
    search()
    {
      this.loading = true;

      axios
          .get('/api/product/searchproduct/'+this.word)
              .then(response => {
              this.loading = false;
              if(response.data.data!='')
                this.$router.push({ name: 'Search', params: {items: response.data.data , word:this.word}})
              else
              errorToaster("لا يوجد نتائج بحث","1");

        })
        .catch(error => {
          console.log(error);
          errorToaster(
            "The server encountered an unexpected condition.",
            "Internal Error 500"
          );
        });

    }
  }
};
</script>
