<template>

                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                          <div class="sidebar  clearfix m-b-20">
                              <div class="main-block">
                                  <div class="sidebar-title white-txt">
                                      <h6>الاقسام</h6> <i class="fa fa-cutlery pull-right"></i> </div>
                                  <ul>
                                      <li v-if="!loading" v-for="(item, index) in categories" :key="index" :class="(index %2)?' bg-white':''">
                                          <a style="text-align: center;" :href="'#popular' + item.product_category.id" class="scroll active">{{item.product_category.title}}</a>
                                      </li>


                                      <li  v-if="loading">
                                      <div v-if="loading" class="col-xs-12">

                                      <CardLoader   :loopCount=3 />
                                      </div>
                                      </li>


                                  </ul>
                                  <div class="clearfix"></div>
                              </div>
                              <!-- end:Sidebar nav -->
                          </div>
                          <!-- end:Left Sidebar -->

                          <!-- <div class="widget clearfix">
                               /widget heading
                              <div class="widget-heading">
                                  <h3 class="widget-title text-dark">
                                Popular tags
                             </h3>
                                  <div class="clearfix"></div>
                              </div>
                              <div class="widget-body">
                                  <ul class="tags">
                                      <li> <a href="#" class="tag">
                                   Coupons
                                   </a> </li>
                                      <li> <a href="#" class="tag">
                                   Discounts
                                   </a> </li>
                                      <li> <a href="#" class="tag">
                                   Deals
                                   </a> </li>
                                      <li> <a href="#" class="tag">
                                   Amazon
                                   </a> </li>
                                      <li> <a href="#" class="tag">
                                   Ebay
                                   </a> </li>
                                      <li> <a href="#" class="tag">
                                   Fashion
                                   </a> </li>
                                      <li> <a href="#" class="tag">
                                   Shoes
                                   </a> </li>
                                      <li> <a href="#" class="tag">
                                   Kids
                                   </a> </li>
                                      <li> <a href="#" class="tag">
                                   Travel
                                   </a> </li>
                                      <li> <a href="#" class="tag">
                                   Hosting
                                   </a> </li>
                                  </ul>
                              </div>
                          </div> -->
                      </div>

</template>

<script>
import CreateProduct from "../actions/CreateProduct";
import CardLoader from "../../shared/CardLoader";

import { mapState } from "vuex";
export default {
  name: "productFilter",
  props: ["categories","loading"],
  components: { CreateProduct,CardLoader },
  computed: mapState(["loggedUser"]),
  data() {
    return {
      selectedCategory: "All",
      selectedSeller: "All",
      showCreateProductModal: false,

    };
  },
  methods: {
    // This method will trigger the parent Components (Prodcuts Component) function
    updateProductCategory(event, productFilterID) {
      this.$parent.filterProductBy(event, productFilterID);
    },

    // This method will trigger the function in createProduct Component
    openCreateModal() {
      this.$refs.createProduct.showModalForm();
    }
  }

};
</script>

<style lang="scss">
.productFilter {
  #prdfilter {
    text-align: start !important;
  }
}
.menu{

   position: sticky;
   top:0;
   color: red;


}
</style>
