<template>
  <div class="productFilter">
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
      <div class="sidebar clearfix m-b-20">
        <div class="main-block">
          <div class="sidebar-title white-txt">
            <h6>Choose Cusine</h6> <i class="fa fa-cutlery pull-right"></i> </div>
          <div class="input-group">
            <input type="text" class="form-control search-field" placeholder="Search your favorite food"> <span class="input-group-btn">
                                 <button class="btn btn-secondary search-btn" type="button"><i class="fa fa-search"></i></button>
                                 </span> </div>
          <form>
            <ul>
              <li>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Barbecuing and Grilling</span> </label>
              </li>
              <li>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Appetizers</span> </label>
              </li>
              <li>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Soup and salads</span> </label>
              </li>
              <li>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Seafood</span> </label>
              </li>
              <li>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Beverages</span> </label>
              </li>
            </ul>
          </form>
          <div class="clearfix"></div>
        </div>
        <!-- end:Sidebar nav -->
        <div class="widget-delivery">
          <form>
            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
              <label class="custom-control custom-radio">
                <input id="radio1" name="radio" type="radio" class="custom-control-input" checked=""> <span class="custom-control-indicator"></span> <span class="custom-control-description">Delivery</span> </label>
            </div>
            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
              <label class="custom-control custom-radio">
                <input id="radio2" name="radio" type="radio" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Takeout</span> </label>
            </div>
          </form>
        </div>
      </div>
      <div class="widget clearfix">
        <!-- /widget heading -->
        <div class="widget-heading">
          <h3 class="widget-title text-dark">
            Price range
          </h3>
          <div class="clearfix"></div>
        </div>
        <div class="widget-body">
          <div class="range-slider m-b-10"> <span id="ex2CurrentSliderValLabel"> Filter by price:<span id="ex2SliderVal"><strong>35</strong></span>€</span>
            <br>
            <input id="ex2" type="text" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="35" /> </div>
        </div>
      </div>
      <!-- end:Pricing widget -->
      <div class="widget clearfix">
        <!-- /widget heading -->
        <div class="widget-heading">
          <h3 class="widget-title text-dark">
            Popular tags
          </h3>
          <div class="clearfix"></div>
        </div>
        <div class="widget-body">
          <ul class="tags">
            <li> <a href="#" class="tag">
              Pizza
            </a> </li>
            <li> <a href="#" class="tag">
              Sendwich
            </a> </li>
            <li> <a href="#" class="tag">
              Sendwich
            </a> </li>
            <li> <a href="#" class="tag">
              Fish
            </a> </li>
            <li> <a href="#" class="tag">
              Desert
            </a> </li>
            <li> <a href="#" class="tag">
              Salad
            </a> </li>
          </ul>
        </div>
      </div>
      <!-- end:Widget -->
    </div>

    <create-product ref="createProduct"/>
  </div>
</template>

<script>
import CreateProduct from "../actions/CreateProduct";
import { mapState } from "vuex";
export default {
  name: "productFilter",
  props: ["categories", "sellers"],
  components: { CreateProduct },
  computed: mapState(["loggedUser"]),
  data() {
    return {
      selectedCategory: "All",
      selectedSeller: "All",
      showCreateProductModal: false
    };
  },
  methods: {
    // This method will trigger the parent Components (Prodcuts Component) function
    updateProductCategory(event, productFilterID) {
      this.$parent.filterProductBy(event, productFilterID);
    },

    // This method will trigger the function in createProduct Component
    openCreateModal() {
      this.$refs.createProduct.showModalForm();
    }
  }
};
</script>

<style lang="scss">
.productFilter {
  #prdfilter {
    text-align: start !important;
  }
}
</style>
