<template>

<div>
    <VclFacebook  v-for="loop in loopCount" v-bind:key="loop" style="margin-bottom:50px;"></VclFacebook>
</div>


</template>
<script>
import { VclFacebook, VclInstagram } from "vue-content-loading";

export default {
  name: "cardLoader",
  props: ["loopCount"],
  components: { VclInstagram ,VclFacebook}
};
</script>

<style >
</style>
