<template>

<div class="overlay">
     <transition  class="modal edit-product showModal" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="editProductLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProductLabel">سيتم توصيل الارودر على العنوان التالى</h5>
                        <button type="button" class="close" @click="$emit('close')" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    <div class="cart-calculator">
                      <ul class="list-group">

                      <li class="list-group-item d-flex justify-content-between">
                        <span  class="pull-right">الموبيل </span>
                        <strong> {{address.phone}}</strong>
                      </li>

                        <li class="list-group-item d-flex justify-content-between">
                          <span  class="pull-right">المحافظة </span>
                          <strong>{{address.government.name}} </strong>
                        </li>

                        <li class="list-group-item d-flex justify-content-between">
                          <span class="pull-right">المدينة  </span>
                          <strong>  {{address.city.name}}  </strong>
                        </li>

                        <li class="list-group-item d-flex justify-content-between">
                          <span  class="pull-right">المنطقة </span>
                          <strong> {{address.zone.name}}</strong>
                        </li>

                        <li class="list-group-item d-flex justify-content-between">
                          <span  class="pull-right">العنوان </span>
                          <strong> {{address.address}}</strong>
                        </li>

                        <li class="list-group-item d-flex justify-content-between">
                          <span  class="pull-right">العمارة </span>
                          <strong> {{address.building_num}}</strong>
                        </li>


                        <li class="list-group-item d-flex justify-content-between">
                          <span  class="pull-right">الشقة </span>
                          <strong> {{address.flat_num}}</strong>
                        </li>

                        <li class="list-group-item d-flex justify-content-between">
                          <span  class="pull-right">الطابق </span>
                          <strong> {{address.floor_num}}</strong>
                        </li>

                        <li class="list-group-item d-flex justify-content-between">
                          <span  class="pull-right">اقرب معلم </span>
                          <strong> {{address.other}}</strong>
                        </li>


                      </ul>
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="$emit('close')">Close</button>
                    </div>
                </div>
            </div>
        </transition >
        </div>
</template>
<script>
export default {

  data() {
    return {
    address:{},
    phone:''
    };
  },

  methods: {

  close() {

  },

  },

created(){
this.address=JSON.parse(localStorage.getItem('address'));
console.log(this.address);
}


};
</script>
<style lang="scss">
.showModal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #00000094;
  z-index: 999;
  transition: opacity 0.2s ease;
}



</style>
