<template>

<div class="overlay">
     <transition  class="modal edit-product showModal" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="editProductLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProductLabel">hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</h5>
                        <button type="button" class="close" @click="$emit('close')" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    <slot></slot>

                    <div class="container ">
                        <div class="widget clearfix">
                            <div class="widget-body">
                                <form method="post" action="#">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>المحافظة*</label>
                                                    <select class="form-control">
                                                        <option>India</option>
                                                        <option>USA</option>
                                                        <option>UK</option>
                                                        <option>Australia</option>
                                                        <option>Japan</option>
                                                        <option>Columbia</option>
                                                        <option>Poland</option>
                                                    </select>
                                                </div>
                                                <!--/form-group-->
                                            </div>


                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>المدينة*</label>
                                                    <select class="form-control">
                                                        <option>India</option>
                                                        <option>USA</option>
                                                        <option>UK</option>
                                                        <option>Australia</option>
                                                        <option>Japan</option>
                                                        <option>Columbia</option>
                                                        <option>Poland</option>
                                                    </select>
                                                </div>
                                                <!--/form-group-->
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>المنطقة*</label>
                                                    <select class="form-control">
                                                        <option>India</option>
                                                        <option>USA</option>
                                                        <option>UK</option>
                                                        <option>Australia</option>
                                                        <option>Japan</option>
                                                        <option>Columbia</option>
                                                        <option>Poland</option>
                                                    </select>
                                                </div>
                                                <!--/form-group-->
                                            </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label>Full Address*</label>
                                                        <input type="text" class="form-control" placeholder="124, Lorem Street.."> </div>
                                                    <!--/form-group-->
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>الطابق</label>
                                                        <input type="text" class="form-control" placeholder="Jaipur"> </div>
                                                    <!--/form-group-->
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Zip/ Postal Code*</label>
                                                        <input type="text" class="form-control" placeholder="302012"> </div>
                                                    <!--/form-group-->
                                                </div>

                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>City / State*</label>
                                                        <input type="text" class="form-control" placeholder="Jaipur"> </div>
                                                    <!--/form-group-->
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Zip/ Postal Code*</label>
                                                        <input type="text" class="form-control" placeholder="302012"> </div>
                                                    <!--/form-group-->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="$emit('close')">Close</button>
                    </div>
                </div>
            </div>
        </transition >
        </div>
</template>
<script>
export default {
  data() {
    return {};
  },

  methods: {

  close() {
    this.$emit('close');
  },

  }

};
</script>
<style lang="scss">
.showModal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #00000094;
  z-index: 999;
  transition: opacity 0.2s ease;
}



</style>
