<template>

<!-- Modal -->
<div class="overlay">

<transition v-if="select"  class="modal fade" id="order-modal" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div  class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>

            <div class="modal-body cart-addon" style="max-height: 500px; overflow: auto;">
                <div v-for="address in userAddresses" class="food-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-10">
                            <div class="row">

                            <div class="col-lg-6">
                                <h6 style="color:red;">العنوان</h6>
                                <h6>{{address.address}}</h6>
                            </div>

                            <div class="col-lg-2">
                                <h6 style="color:red;">المنطقة</h6>
                                <h6>{{address.address}}</h6>
                            </div>

                            <div class="col-lg-2">
                                <h6 style="color:red;">المدينة</h6>
                                <h6>{{address.address}}</h6>
                            </div>

                            <div class="col-lg-2">
                                <h6 style="color:red;">المحافظة</h6>
                                <h6>{{address.address}}</h6>
                            </div>

                            <div class="col-lg-6">
                                <h6 style="color:red;">اخرى</h6>
                                <h6>{{address.address}}</h6>
                            </div>

                            <div class="col-lg-2">
                                <h6 style="color:red;">الموبيل</h6>
                                <h6>{{address.address}}</h6>
                            </div>

                            <div class="col-lg-2">
                                <h6 style="color:red;">رقم الطابق</h6>
                                <h6>{{address.address}}</h6>
                            </div>

                            <div class="col-lg-2">
                                <h6 style="color:red;">رقم الشقة</h6>
                                <h6>{{address.address}}</h6>
                            </div>

                            </div>
                        </div>
                        <!-- end:col -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                          <button type="button" @click="selectAddress(address)" class="btn theme-btn">اختار</button>
                        </div>
                    </div>
                    <!-- end:row -->
                </div>
                <!-- end:Food item -->
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="$emit('close')" data-dismiss="modal">Close</button>
            <button type="button" @click="showAddModal" class="btn btn-info pull-left" >اضافة عنوان جديد</button>

            </div>
        </div>
    </div>
</transition>

<modal
  v-if="addNew"
  @close="closeAddModal"
/>

<CheckModal
  v-if="CheckModal"
  @close="closeCheckModal"

/>






</div>

</template>
<script>

import {
  isLoggedIn,
  getLoggedInUser
} from "./service/authService";
import { mapState, mapActions, mapMutations } from "vuex";
import Modal from "./Modal";
import CheckModal from "./CheckModal";


export default {
  props: ["header"],
  components:{Modal,CheckModal},
  data() {
    return {
    userAddresses:[],
    select:true,
    addNew:false,
    address:[],
    CheckModal:false,

    };
  },
  computed:{
        ...mapState(["loggedUser"]),
  },


  methods: {
          getAddress(){
              this.address=localStorage.getItem('address');
              return this.address;
          },

          close() {
            this.$emit('close');
          },

          selectModal() {
            this.addNew = true;
          },
          selectModal() {
            this.addNew = false;
          },

          showAddModal() {
            this.addNew = true;
          },
          closeAddModal() {
            this.addNew = false;
          },

          showCheckModal() {
            this.CheckModal = true;

          },
          closeCheckModal() {
            this.CheckModal = false;
          },




      getUserAddresses() {

        this.showCheckModal();

        axios
          .post('api/user/address')
          .then(response => {

            if(response.data.code==200){

              this.userAddresses=response.data.data;

      //      successToaster('get Success', "");
            }
          })
          .catch(error => {


alert('error');

            //errorToaster('internal error', "");

          });

  },

  selectAddress(address){

    localStorage.setItem('address', JSON.stringify(address));

this.showCheckModal();
  //  this.$router.push("/cart");


  }


},

created() {
this.getUserAddresses();
this.getAddress();
}



};
</script>

<style>

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #00000094;
  z-index: 999;
  transition: opacity 0.2s ease;
}

.cart-addon .food-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ededed;
    padding: 2px 0 15px;
}

.cart-addon .food-item:last-of-type {
    border-bottom: none
}

.cart-addon .food-item .item-img img {
    max-width: 70px;
}

.cart-addon .food-item .rest-descr {
    margin-left: 80px;
}

.cart-addon .food-item h6 {
    /* margin: 0 0 2px 0; */
}

.cart-addon .food-item h6 a {
    font-size: 16px;
    color: #4d4f56;
    display: block;
    margin: 4px 0 0 0;
    line-height: 20px;
}

.cart-addon .food-item .price {
    font-weight: 600;
    margin-top: 15px;
    display: block;
    color: #25282b;
}

.cart-addon .food-item .form-control {
    margin-top: 8px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    right: -15px;
    position: absolute;
    top: -15px;
    background-color: #f30;
    opacity: 1;
    width: 30px;
    height: 30px;
    color: #fff;
    text-shadow: none;
    font-size: 14px;
    display: block;
}

button.close span {
    display: block;
}



</style>
