<template>

    <div  style="position: fixed; ; width: 100%; z-index: 2;">
        <!-- top Links -->
        <div class="top-links">
            <div class="container">
                <ul class="row links">
                    <li :class="'col-xs-12 col-sm-3 link-item '+first"><span>1</span>
                        <router-link  to="/restaurants">اختر طعامك المفضل</router-link>

                    </li>
                    <li :class="'col-xs-12 col-sm-3 link-item '+second"><span>2</span>
                        <router-link  to="/addresses">اختر مكان التوصيل</router-link>
                    </li>

                    <li :class="'col-xs-12 col-sm-3 link-item '+third"><span>3</span>
                        <router-link  to="/cart">مراجعة طلبك</router-link>
                    </li>

                    <li :class="'col-xs-12 col-sm-3 link-item '+fourth"><span>4</span
                    <router-link  to="/checkout">تأكيد طلبك</router-link>
                    </li>

                </ul>
            </div>
        </div>
        <!-- end:Top links -->
        <!-- start: Inner page hero
        <section class="inner-page-hero bg-image" style='background: rgba(0, 0, 0, 0) url("/images/banner.jpg") no-repeat scroll center center / cover;' data-image-src="http://placehold.it/1670x480">
            <div class="profile">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4 profile-img">
                            <div class="image-wrap">
                                <figure><img src="/images/owner.jpg" alt="Profile Image"></figure>
                            </div>
                        </div>
                        <div style="background: black;    opacity: 0.6;    border-radius: 28px;    text-align: center;" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 profile-desc">
                            <div class="pull-left right-text white-txt">
                                <h6><a href="#">Maenaam Thai Restaurant</a></h6> <a class="btn btn-small btn-green">Open</a>
                                <p>Burgers, American, Sandwiches, Fast Food, BBQ</p>
                                <ul class="nav nav-inline">
                                    <li class="nav-item"> <a class="nav-link active" href="#"><i class="fa fa-check"></i> Min $ 10,00</a> </li>
                                    <li class="nav-item"> <a class="nav-link" href="#"><i class="fa fa-motorcycle"></i> 30 min</a> </li>
                                    <li class="nav-item ratings">
                                        <a class="nav-link" href="#"> <span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                </span> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         -- >
        <!-- end:Inner page hero -->

    </div>

</template>


<script>

export default {
  props: ["where"],
  data(){
  return {
      first:'',
      second:'',
      third:'',
      fourth:'',
    };
  },
  created(){
  if(this.where==1) this.first='active'
  else if(this.where==2) {
        this.first='active';
        this.second='active';
       }
  else if(this.where==3) {
        this.first='active';
        this.second='active';
        this.third='active';
            }
  else {
      this.first='active';
      this.second='active';
      this.third='active';
      this.fourth='active';

  }

  }

};
</script>
<style>
a {font-family: "Advertising Bold"}


</style>
